<section class="aboutMe">
  <h2 class="aboutMe__title">about me</h2>
  <h2 class="aboutMe__whoami"> who am i ?</h2>
  <div class="aboutMe__background">
    <div class="content-wrapper">
      <div class="aboutMe__image">
        <div class="divInBlob"></div>
        <svg class="svg">
          <clipPath id="my-clip-path" clipPathUnits="objectBoundingBox"><path d="M1,0.169 C1,0.269,0.897,0.4,0.853,0.551 C0.809,0.701,0.865,0.872,0.775,0.955 C0.686,1,0.45,1,0.305,0.956 C0.159,0.88,0.101,0.733,0.054,0.584 C0.007,0.434,-0.028,0.283,0.058,0.175 C0.145,0.066,0.354,-0.001,0.561,0 C0.769,0.001,0.974,0.069,1,0.169"></path></clipPath>
        </svg>
      </div>
      <div class="aboutMe__text">
      <h3 class="aboutMe__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h3>
      <p class="aboutMe__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat feugiat vitae aliquam egestas vitae, nibh tellus metus. Dolor, at tristique morbi arcu arcu a arcu. Sed turpis purus sagittis, aliquet. Neque feugiat purus, mi condimentum massa odio egestas duis.</p>
      <div class="blob">
        //- <svg class="blob__svg" viewBox="0 0 173 100" fill="none" xmlns="http://www.w3.org/2000/svg">
        //-   <clipPath id="blob-contact">
        //-     <path d="M325.433 155.874C296.601 187.745 248.643 198.048 206.352 202.113C163.96 206.222 127.335 204.047 87.2582 187.843C47.2818 171.594 3.75267 141.362 0.246515 107.298C-3.31054 73.145 33.005 35.3403 72.5474 16.708C112.04 -1.78986 154.81 -1.0261 205.562 2.20936C256.263 5.57918 314.895 11.3315 339.409 41.0157C363.871 70.6107 354.265 124.003 325.433 155.874Z" fill="#00B7D4"/>
        //-   </clipPath>
        //- </svg>
        <div class="blob__contact">
          <div class="blob__cv">
            <p >Regardez mon CV</p>
            <a href="">
              <svg class="icon icon-aboutMe_blob_cv">
                <use xlink:href="#icon-aboutMe_blob_cv"></use>
              </svg> 
            </a>
          </div>
          <div class="blob__mail">
            <p >roux.anthony@hetic.net</p>
            <a href="">
              <svg class="icon icon-aboutMe_blob_mail">
                <use xlink:href="#icon-aboutMe_blob_mail"></use>
              </svg>  
            </a>    
          </div>
          <div class="blob__phone">
            <p >06 01 80 19 05</p>
            <a href="">
              <svg class="icon icon-aboutMe_blob_phone">
                <use xlink:href="#icon-aboutMe_blob_phone"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>




