<section id="linkAbout-me" class="aboutMe">
  <h2 class="aboutMe__title content-wrapper">about me</h2>
  <h2 class="aboutMe__whoami content-wrapper"> who am i ?</h2>
  <div class="aboutMe__background">
    <div class="content-wrapper">
      <div class="aboutMe__image">
        <div class="divInBlob"></div>
        <svg class="svg">
          <clipPath id="my-clip-path" clipPathUnits="objectBoundingBox"><path d="M1,0.169 C1,0.269,0.897,0.4,0.853,0.551 C0.809,0.701,0.865,0.872,0.775,0.955 C0.686,1,0.45,1,0.305,0.956 C0.159,0.88,0.101,0.733,0.054,0.584 C0.007,0.434,-0.028,0.283,0.058,0.175 C0.145,0.066,0.354,-0.001,0.561,0 C0.769,0.001,0.974,0.069,1,0.169"></path></clipPath>
        </svg>
      </div>
      <div class="aboutMe__text">
      <h3 class="aboutMe__subtitle">Hello world ! 👋🏼<br>Je suis Anthony, 27 ans, et étudiant en 1ère année de Développement Web. </h3>
      <p class="aboutMe__description">Après un parcours en horticulture et en restauration, me voilà enfin dans un milieu qui correspond davantage à ma personnalité et à mes ambitions.</p> 
      <p class="aboutMe__description aboutMe__description--style">Ma formation m'apporte les compétences en développement <strong>frond-end</strong> et <strong>back-end</strong> tout en étant au fil des semaines acteur de plusieurs projets mêlant <strong>développement web</strong> et <strong>design UX & UI</strong>.</p>
      <p class="aboutMe__description aboutMe__description--style">Mon passé professionnel a fait de moi quelqu'un de mâture et qui sait ce qu'il veut. J'ai notamment pu développer un bon esprit d'équipe et une conscience professionnelle aiguisée.</p>
      <p class="aboutMe__description"><strong>Organisé</strong>, <strong>rigoureux</strong> et <strong>positif</strong>, je suis désireux de développer davantage mes compétences en développement front-end. <br>Résidant à Paris, je recherche un stage dès juillet 2020, enchaînant sur une alternance, où je pourrais m’améliorer et découvrir de nouvelles technos.</p>
      <div class="blob">
        <div class="blob__contact">
          <div class="blob__cv">
            <p >Regardez mon CV </p>
            <a href="https://www.figma.com/file/AqwrUJ4B5my5BVOneJGmFe/CV" target="_blank" rel="noopener">
              <svg class="icon icon-aboutMe_blob_cv">
                <use xlink:href="#icon-aboutMe_blob_cv"></use>
              </svg> 
            </a>
          </div>
          <div class="blob__mail">
            <p>roux.anthony@hetic.net </p>
            <a href="mailto:roux.anthony@hetic.net">
              <svg class="icon icon-aboutMe_blob_mail">
                <use xlink:href="#icon-aboutMe_blob_mail"></use>
              </svg>  
            </a>    
          </div>
          <div class="blob__phone">
            <p >06 01 80 19 05 </p>
            <a href="">
              <svg class="icon icon-aboutMe_blob_phone">
                <use xlink:href="#icon-aboutMe_blob_phone"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>




