<section id="linkAbout-me" class="aboutMe">
  <h2 class="aboutMe__title content-wrapper">about me</h2>
  <h2 class="aboutMe__whoami content-wrapper"> who am i ?</h2>
  <div class="aboutMe__background">
    <div class="content-wrapper">
      <div class="aboutMe__image">
        <div class="divInBlob"></div>
        <svg class="svg">
          <clipPath id="my-clip-path" clipPathUnits="objectBoundingBox"><path d="M1,0.169 C1,0.269,0.897,0.4,0.853,0.551 C0.809,0.701,0.865,0.872,0.775,0.955 C0.686,1,0.45,1,0.305,0.956 C0.159,0.88,0.101,0.733,0.054,0.584 C0.007,0.434,-0.028,0.283,0.058,0.175 C0.145,0.066,0.354,-0.001,0.561,0 C0.769,0.001,0.974,0.069,1,0.169"></path></clipPath>
        </svg>
      </div>
      <div class="aboutMe__text">
      <h3 class="aboutMe__subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h3>
      <p class="aboutMe__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consequat feugiat vitae aliquam egestas vitae, nibh tellus metus. Dolor, at tristique morbi arcu arcu a arcu. Sed turpis purus sagittis, aliquet. Neque feugiat purus, mi condimentum massa odio egestas duis.</p>
      <div class="blob">
        <div class="blob__contact">
          <div class="blob__cv">
            <p >Regardez mon CV </p>
            <a href="https://www.figma.com/file/AqwrUJ4B5my5BVOneJGmFe/CV" target="_blank" rel="noopener">
              <svg class="icon icon-aboutMe_blob_cv">
                <use xlink:href="#icon-aboutMe_blob_cv"></use>
              </svg> 
            </a>
          </div>
          <div class="blob__mail">
            <p>roux.anthony@hetic.net </p>
            <a href="mailto:roux.anthony@hetic.net">
              <svg class="icon icon-aboutMe_blob_mail">
                <use xlink:href="#icon-aboutMe_blob_mail"></use>
              </svg>  
            </a>    
          </div>
          <div class="blob__phone">
            <p >06 01 80 19 05 </p>
            <a href="">
              <svg class="icon icon-aboutMe_blob_phone">
                <use xlink:href="#icon-aboutMe_blob_phone"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>




