<div class="background">
  <div class="background__purpleLines">
    <div class="purpleLines__line1"></div>
    <div class="purpleLines__line2"></div>
  </div>
  <div class="background__purpleLines">
    <div class="purpleLines__line1"></div>
    <div class="purpleLines__line2"></div>
  </div>
  <div class="background__purpleLines">
    <div class="purpleLines__line1"></div>
    <div class="purpleLines__line2"></div>
  </div>
  <div class="background__purpleLines">
    <div class="purpleLines__line1"></div>
    <div class="purpleLines__line2"></div>
  </div>
  <div class="background__purpleLines">
    <div class="purpleLines__line1"></div>
    <div class="purpleLines__line2"></div>
  </div>
</div>