
<footer class="footer">
  <div class="footer__waves">
    //- <svg class="lagoon footer__wave--lagoon">
    //-   <use xlink:href="#footer__wave--lagoon"></use>
    //- </svg>
    //- <svg class="darkblue footer__wave--darkBlue">
    //-   <use xlink:href="#footer__wave--darkBlue"></use>
    //- </svg>
    <img class="footer__svgWave--darkBlue" src="/assets/svg/footer_wave-darkblueTest.svg" alt="">
    //- <img class="footer__svgWave--lagoon" src="/assets/svg/footer_wave-lagoon.svg" alt="">
    //- <img class="footer__svgWave--gradient" src="/assets/svg/footer_wave-gradient.svg" alt="">  
  </div>
  <div class="footer__contents content-wrapper">
    <div class="footer__content">
      <div class="footer__scrollUp">
        <p>top</p>
        <a href="#linkHome">
          <svg class="footer__icons icon icon-footer_scroll-up">
            <use xlink:href="#icon-footer_scroll-up"></use>
          </svg>
        </a>
      </div>
      <h3 class="footer__name">Anthony Roux</h3>
      <div class="footer__networks">
        <p>LinkedIn</p>
        <p>CodePen</p>
        <p>GitHub</p>
      </div>
    </div>
    <div class="footer__endElements">
      <p>Imagined, designed and develloped by myself</p>
      <svg class="footer__icons icon icon-footer__logo">
        <use xlink:href="#icon-footer__logo"></use>
      </svg>
      <p>copyright © 2020 - All rights reserved</p>
    </div>
  </div>

</footer>