
<header class="header">
  <div class="content-wrapper">
    <div class="nav">
      <div class="nav__logo">
      <a href="#linkHome">
        <img src="assets/logo/LOGO.svg" class="nav__logo-AR">
      </a>
    </div>

    <div class="nav__burger">
      <p>
        <a class="nav__linkHomeOnHero" href="#linkHome">home</a>
      </p>
      <div class="nav__menu-button">
          <span class="menu-line"></span>
          <span class="menu-line"></span>
          <span class="menu-line"></span>
          <div class="menu-circle"></div>
          <div class="menu-circle"></div>
      </div>
    </div>



    <ul id="menu" class="nav__menu">
      <li class="nav__linkHome">
        <a href="#linkHome">home</a>
      </li>
      <li class="nav__linkProject">
        <a href="#linkProject">project</a>
      </li>
      <li class="nav__linkSkills">
        <a href="#linkSkills">skills</a>
      </li>
      <li class="nav__linkAbout-me">
        <a href="#linkAbout-me">about me</a>
      </li>
      <li class="nav__linkContact">
        <a href="#linkContact">contact</a>
      </li>
    </ul>
    </div>
  </div>

</header>