<section class="project">
  <h2 class="project__background-title">site web</h2>
  <h2 class="project__background-project">projets</h2>

  <div class="project__card card">
    <div class="card__content">
      <p class="card__number">01</p>
      <div class="card__informations">
        <h3 class="card__type">site web</h3>
        <h3 class="card__date">15 feb 2020</h3>
      </div>
      <div class="card__description">
        <h2 class="card__title">Nova Pellicia</h2>
        <p class="card__synopsis">Présenter un produit à la fois éco-responsable, et personnalisable à travers une landing page. </p>
      </div>
      <div class="card__button button">
        <a href=""><div class="btn anim-top"><span>Voir le projet</span></div></a>
      </div>
      <div class="card__tools">
        <p>html | scss | javascript | figma | ps & ai </p>
      </div>
    </div>
     <div class="card__image image">
      <div class="image__nova">
      </div>
    </div>
  </div>
</section>
