<section class="project">
  <h2 class="project__background-title position-settings">maquette</h2>
  <div class="project__card project__card--right card">
    <div class="card__content">
      <p class="card__number card__number--toLeft">03</p>
      <div class="card__informations">
        <h3 class="card__type">maquette</h3>
        <h3 class="card__date">20 dec 2019</h3>
      </div>
      <div class="card__description">
        <h2 class="card__title">Nespresso</h2>
        <p class="card__synopsis">Redesign du site Nespresso afin de le rendre plus agréable à visiter et à utiliser.</p>
      </div>
      <div class="card__button button">
        <a href=""><div class="btn anim-top"><span>Voir le projet</span></div></a>
      </div>
      <div class="card__tools">
        <p>figma</p>
      </div>
    </div>
     <div class="card__image image">
      <div class="image__nespresso">
      </div>
    </div>
  </div>
</section>
