<section class="project">
  <div class="project__card card">
    <div class="card__content">
      <p class="card__number">02</p>
      <div class="card__informations">
        <h3 class="card__type">jeu vidéo</h3>
        <h3 class="card__date">08 janvier 2020</h3>
      </div>
      <div class="card__description">
        <h2 class="card__title">koala's rescue</h2>
        <p class="card__synopsis">Présenter un produit à la fois éco-responsable, et personnalisable à travers une landing page. </p>
      </div>
      <div class="card__button button">
        <a href=""><div class="btn anim-right"><span>Voir le projet</span></div></a>
      </div>
      <div class="card__tools">
        <p>HTML | SCSS | JAVASCRIPT | FIGMA </p>
      </div>
    </div>
    <div class="card__image image">
      <div class="image__koala">
      </div>
    </div>  
  </div>
</section>
