<section class="skills content-wrapper">
  <h2 class="skills__bigTitle">skills</h2>
  <h2 class="skills__mediumTitle">what I learned</h2>
  <div class="skills__namedColumn">
    <div class="skills__iconAndh2">
      <svg class="skills__icons icon icon-skills_dev">
        <use xlink:href="#icon-skills_dev"></use>
      </svg>
      <h2 class="skills__title">Développement</h2>
    </div>
    <div class="skills__column skills__dev">
      <div class="skills__category skills__langage">
        <h3 class="skills__subtitle">Langages</h3>
        <ul class="skills__values">
          <li class="skills__value">HTML5 | Pug</li>
          <li class="skills__value">CSS | SCSS/SASS</li>
          <li class="skills__value">JavaScript natif</li>
          <li class="skills__value">PHP | MySQL</li>
        </ul>
      </div>
      <div class="skills__category skills__tools">
        <h3 class="skills__subtitle">Outils de développement</h3>
        <ul class="skills__values">
          <li class="skills__value">GitHub | Tower</li>
          <li class="skills__value">npm | Parcel</li>
          <li class="skills__value">VSC | PHP-Storm</li>
          <li class="skills__value">MySQLWorkbench</li>
          <li class="skills__value">Terminal</li>
        </ul>
      </div>
      <div class="skills__category skills__practices">
        <h3 class="skills__subtitle">Bonnes pratiques</h3>
        <ul class="skills__values">
          <li class="skills__value">Responsive</li>
          <li class="skills__value">Mobile first</li>
          <li class="skills__value">Bem</li>
          <li class="skills__value">Sprite SVG</li>
        </ul>
      </div>
    </div>
  </div>


  <div class="skills__namedColumn">
    <div class="skills__iconAndh2">
      <svg class="skills__icons icon icon-skills_design">
        <use xlink:href="#icon-skills_design"></use>
      </svg>
      <h2 class="skills__title">Design UI & UX</h2>
    </div>
    <div class="skills__column skills__design">
      <div class="skills__category skills__metodology">
        <h3 class="skills__subtitle">Méthodologies</h3>
        <ul class="skills__values">
          <li class="skills__value">Benchmark</li>
          <li class="skills__value">Personas</li>
          <li class="skills__value">Parcours utilisateur</li>
          <li class="skills__value">Design system</li>
          <li class="skills__value">Wireframes | Maquettes</li>
        </ul>
      </div>
      <div class="skills__category skills__designTools">
        <h3 class="skills__subtitle">Outils design</h3>
        <ul class="skills__values">
          <li class="skills__value">Photoshop</li>
          <li class="skills__value">Illustrator</li>
          <li class="skills__value">Figma</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="skills__namedColumn">
    <div class="skills__iconAndh2">
      <svg class="skills__icons icon icon-skills_marketing">
        <use xlink:href="#icon-skills_marketing"></use>
      </svg>
      <h2 class="skills__title">Web marketing</h2>
    </div>
    <div class="skills__column skills__webMarketing">
      <div class="skills__category skills__marketing">
        <h3 class="skills__subtitle">Marketing</h3>
        <ul class="skills__values">
          <li class="skills__value">SEO | SEA</li>
          <li class="skills__value">Google Advisor</li>
          <li class="skills__value">Google Search Console</li>
        </ul>
      </div>
    </div>
  </div>
</section>