<section id="linkSkills" class="skills content-wrapper">
  <h2 class="skills__bigTitle">skills</h2>
  <h2 class="skills__mediumTitle">what I learned</h2>
  <div class="skills__columns" id="animate4">

    <div class="skills__namedColumn">
      <div class="skills__iconAndh2">
        <svg class="skills__icons icon icon-skills_design">
          <use xlink:href="#icon-skills_design"></use>
        </svg>
        <h2 class="skills__title">Design UI & UX</h2>
      </div>
      <div class="skills__column skills__design">
        <div class="skills__category skills__metodology">
          <h3 class="skills__subtitle tween_text_skills">Méthodologies</h3>
          <ul class="skills__values">
            <li class="skills__value tween_text_skills">Benchmark</li>
            <li class="skills__value tween_text_skills">Personas</li>
            <li class="skills__value tween_text_skills">Parcours utilisateur</li>
            <li class="skills__value tween_text_skills">Design system</li>
            <li class="skills__value tween_text_skills">Wireframes | Maquettes</li>
          </ul>
        </div>
        <div class="skills__category skills__designTools">
          <h3 class="skills__subtitle tween_text_skills">Outils design</h3>
          <ul class="skills__values">
            <li class="skills__value tween_text_skills">Photoshop</li>
            <li class="skills__value tween_text_skills">Illustrator</li>
            <li class="skills__value tween_text_skills">Figma</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="skills__namedColumn">
      <div class="skills__iconAndh2">
        <svg class="skills__icons icon icon-skills_dev">
          <use xlink:href="#icon-skills_dev"></use>
        </svg>
        <h2 class="skills__title tween_text_skills">Développement</h2>
      </div>
      <div class="skills__column skills__dev">
        <div class="skills__category skills__langage">
          <h3 class="skills__subtitle tween_text_skills">Langages</h3>
          <ul class="skills__values">
            <li class="skills__value tween_text_skills">HTML5 | Pug</li>
            <li class="skills__value tween_text_skills">CSS | SASS</li>
            <li class="skills__value tween_text_skills">JavaScript natif</li>
            <li class="skills__value tween_text_skills">PHP | MySQL</li>
          </ul>
        </div>
        <div class="skills__category skills__tools">
          <h3 class="skills__subtitle tween_text_skills">Outils de développement</h3>
          <ul class="skills__values">
            <li class="skills__value tween_text_skills">GitHub | Tower</li>
            <li class="skills__value tween_text_skills">npm | Parcel</li>
            <li class="skills__value tween_text_skills">VSC | PHP-Storm</li>
            <li class="skills__value tween_text_skills">MySQLWorkbench</li>
            <li class="skills__value tween_text_skills">Terminal</li>
          </ul>
        </div>
        <div class="skills__category skills__practices">
          <h3 class="skills__subtitle tween_text_skills">Bonnes pratiques</h3>
          <ul class="skills__values">
            <li class="skills__value tween_text_skills">Responsive</li>
            <li class="skills__value tween_text_skills">Mobile first</li>
            <li class="skills__value tween_text_skills">BEM</li>
            <li class="skills__value tween_text_skills">Sprite SVG</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="skills__namedColumn">
      <div class="skills__iconAndh2">
        <svg class="skills__icons icon icon-skills_marketing">
          <use xlink:href="#icon-skills_marketing"></use>
        </svg>
        <h2 class="skills__title">Web marketing</h2>
      </div>
      <div class="skills__column skills__webMarketing">
        <div class="skills__category skills__marketing">
          <h3 class="skills__subtitle tween_text_skills">Marketing</h3>
          <ul class="skills__values">
            <li class="skills__value tween_text_skills">SEO | SEA</li>
            <li class="skills__value tween_text_skills">Google Adwords</li>
            <li class="skills__value tween_text_skills">Google Analytics</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</section>