<div class="verticals">
  <h2 class="vertical__titles vertical__titles--1">projets</h2>
  <h2 class="vertical__titles vertical__titles--2">projets</h2>
  <h2 class="vertical__titles vertical__titles--3">projets</h2>
  <h2 class="vertical__titles vertical__titles--4">projets</h2>
</div>