<div class="verticals content-wrapper">
  <h2 class="vertical__titles vertical__titles--1">projets</h2>
  <h2 class="vertical__titles vertical__titles--2">projets</h2>
  <h2 class="vertical__titles vertical__titles--3">projets</h2>
  <h2 class="vertical__titles vertical__titles--4">projets</h2>
  <h2 class="vertical__titles vertical__titles--5">projets</h2>
  <h2 class="vertical__titles vertical__titles--skills vertical__titles--skillsNPM ">npm run dev</h2>
  <h2 class="vertical__titles vertical__titles--skills vertical__titles--skillsGP">git push</h2>
</div>