.verticals {
  // margin: 0 auto;
  position: absolute;
  max-width: 2560px;
  z-index: -2;
  @include flexbox(column, space-between, center);
}

.vertical__titles {
  display: none;

  @include desktop-up {
    position: relative;
    margin: 0 0 150px 0;
    font-family: $righteous;
    font-size: rem(110px);
    text-transform: uppercase;
    z-index: -2;
    @include vertical-text;
    @include animation-gradient-project;

    &--1,
    &--3,
    &--5 {
      left: -50%;

      @include desktop-large {
        left: -58%;
      }

      @include desktop-Xlarge {
        left: -68%;
      }
    }

    &--2,
    &--4 {
      right: -48%;

      @include desktop-large {
        right: -58%;
      }

      @include desktop-Xlarge {
        right: -68%;
      }
    }

    // &--3 {
    //   left: -50%;

    //   @include desktop-large {
    //     left: -58%;
    //   }
    // }

    // &--4 {
    //   right: -48%;

    //   @include desktop-large {
    //     right: -58%;
    //   }
    // }

    // &--5 {
    //   left: -50%;

    //   @include desktop-large {
    //     left: -58%;
    //   }
    // }


    &--skills {
      margin: 0;
      font-size: rem(50px);

    }

    &--skillsNPM {
      left: -50%;
      margin-top: 1200px;

      @include desktop-large {
        left: -58%;
      }

      @include desktop-Xlarge {
        left: -68%;
      }

      @include desktop-xxLarge {
        left: -78%;
      }
    }

    &--skillsGP {
      right: -50%;
      margin-top: -800px;

      @include desktop-large {
        right: -58%;
      }

      @include desktop-Xlarge {
        right: -68%;
      }

      @include desktop-xxLarge {
        right: -78%;
      }
    }
  }
}