.aboutMe {
  color: $white;
  font-family: $montserrat;
  line-height: 1.5;
  margin-top: 350px;

  &__title {
    @include background-project;
    font-size: rem(50px);
    top: -250px;
    padding: 0 30px;

    @include tablet-up {
      font-size: rem(100px);
      top: -60px;
    }

    @include desktop-up {
      opacity: 0;
    }
  }

  &__whoami {
    @include background-title;
    font-size: rem(40px);
    top: -290px;
    padding: 0 30px;

    @include tablet-up {
      font-size: rem(80px);
      top: 60px;
    }

    @include desktop-up {
      top: 60px;
      left: 160px;
    }
  }

  &__background {
    height: auto;
    background-color: $darkBlue;
    width: 100%;
    max-height: 300px;
    min-height: 300px;
    padding-bottom: 20px;
  }

  &__image {
    position: relative;
    top: -250px;
    // .aboutMe__photo {
    //   clip-path: url(#my-clip-path);
    //   // clip-path: polygon(50% 0%, 63% 38%, 100% 38%, 69% 59%, 82% 100%, 50% 75%, 18% 100%, 31% 59%, 0% 38%, 37% 38%);
    // }

    .svg {
      width: 0;
      height: 0;
    }

    .divInBlob {
      width: 220px;
      min-height: 300px;
      background: url(/assets/svg/aboutMe_photo.png);
      background-size: cover;
      -webkit-clip-path: url(#my-clip-path);
      clip-path: url(#my-clip-path);
      margin: 0 auto;
    }
  }

  &__text {
    margin-top: -240px;
  }

  &__subtitle {
    font-weight: bold;
    font-size: rem(13px);
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  &__description {
    font-size: rem(11px);
  }
}

.blob {
  width: 173px;
  min-height: 100px;
  background: $blueLagoon;
  // background-size: cover;
  // -webkit-clip-path: url(#blob-contact);
  // clip-path: url(#blob-contact);
  // margin: 0 auto;
  position: relative;
  top: 25px;
  left: 32%;
  // margin-left: 30%;
  border-radius: 96% 51% 44% 95%/90% 77% 80% 69%;
  padding: 20px;

  // &__svg {
  //   width: 0;
  //   height: 0;
  // }

  &__contact {
    width: max-content;
    @include flexbox(column, flex-end, flex-end);
    margin: 0 auto;

    a {
      width: 12px;
      height: 12px;
      display: flex;
    }

    p {
      font-size: rem(9px);
      margin-right: 8px;
    }
  }

  &__cv {
    @include flexbox(row, flex-end, center);
    margin-bottom: 8px;
  }

  &__mail {
    @include flexbox(row, flex-start, center);
    margin-bottom: 8px;
  }

  &__phone {
    @include flexbox(row, flex-start, center);
    margin-bottom: 8px;
  }
}
