.aboutMe {
  margin-top: 350px;
  margin-bottom: 250px;
  color: $white;
  font-family: $montserrat;
  line-height: 1.5;

  @include big-tablet {
    margin-top: -350px;
  }

  @include desktop-min {
    margin-top: -350px;
    margin-bottom: 400px;
  }

  &__title {
    top: -230px;
    padding: 0 30px;
    font-size: rem(50px);
    @include background-project;
    @include animation-gradient-project;

    @include iphone6-7-8_max {
      font-size: rem(65px);
    }

    @include tablet-up {
      top: -260px;
      padding: 0 60px;
      font-size: rem(100px);
    }

    @include big-tablet {
      top: 305px;
      // left: 235px;
      max-width: max-content;
      font-size: 8.25rem;
      z-index: 0;
      @include animation-gradient-project;
    }

    @include desktop-min {
      top: 305px;
      max-width: max-content;
      font-size: 8.25rem;
      z-index: 0;
      @include animation-gradient-project;
    }
  }

  &__whoami {
    top: -280px;
    padding: 0 30px;
    font-size: rem(40px);
    @include background-title;

    @include iphone6-7-8_max {
      font-size: rem(55px);
    }

    @include tablet-up {
      top: -340px;
      padding: 0 60px;
      font-size: rem(80px);
    }

    @include big-tablet {
      top: 206px;
      max-width: max-content;
      z-index: 0;
      -webkit-text-stroke-color: $white;
    }

    @include desktop-min {
      top: 206px;
      max-width: max-content;
      z-index: 0;
      -webkit-text-stroke-color: $white;
    }
  }

  &__background {
    padding-bottom: 20px;
    width: 100%;
    height: auto;
    min-height: 300px;
    max-height: 300px;
    background-color: $darkBlue;

    @include tablet-up {
      max-height: 380px;
    }

    @include big-tablet {
      max-height: 568px;
    }

    @include desktop-min {
      max-height: 568px;
    }
  }

  &__image {
    position: relative;
    top: -250px;

    @include tablet-up {
      top: -300px;
    }

    @include big-tablet {
      top: 236px;
      left: -280px;
    }

    @include desktop-min {
      top: 221px;
      left: -321px;
    }

    @include desktop-up {
      top: 230px;
      left: 0;
      width: max-content;
    }

    @include desktop-large {
      top: 245px;
    }

    .svg {
      width: 0;
      height: 0;
    }

    .divInBlob {
      margin: 0 auto;
      width: 220px;
      min-height: 300px;
      background: url(/assets/svg/aboutMe_photo.png);
      background-size: cover;
      -webkit-clip-path: url(#my-clip-path);
      clip-path: url(#my-clip-path);

      @include tablet-up {
        width: 268px;
        min-height: 386px;
      }

      @include big-tablet {
        width: 312px;
        min-height: 443px;
      }

      @include desktop-min {
        width: 293px;
        min-height: 414px;
      }

      @include desktop-up {
        width: 317px;
        min-height: 440px;
      }

      @include desktop-large {
        width: 385px;
        min-height: 543px;
      }
    }
  }

  &__text {
    margin-top: -255px;

    @include tablet-up {
      margin-top: -290px;
    }

    @include big-tablet {
      display: flex;
      flex-direction: column;
      margin: -240px 0 0 455px;
      max-width: 500px;
    }

    @include desktop-min {
      margin: -215px 0 0 450px;
      max-width: 500px;
    }

    @include desktop-up {
      margin: -239px 0 0 450px;
      max-width: 650px;
    }

    @include desktop-large {
      margin: -346px 0 0 500px;
    }
  }

  &__subtitle {
    margin-bottom: 8px;
    font-size: rem(13px);
    font-weight: bold;
    text-transform: uppercase;

    @include tablet-up {
      margin-bottom: 16px;
      font-size: rem(18px);
    }

    @include big-tablet {
      font-size: 20px;
    }

    @include desktop-min {
      font-size: 18px;
    }

    @include desktop-up {
      font-size: 21px;
    }
  }

  &__description {
    font-size: rem(12px);

    @include iphone6-7-8_max {
      font-size: rem(13px);
    }

    @include tablet-up {
      max-width: 600px;
      font-size: rem(18px);
    }

    @include big-tablet {
      font-size: 16px;
      line-height: 1.7;
    }

    @include desktop-min {
      max-width: 600px;
      font-size: 16px;
      line-height: 1.7;
    }

    @include desktop-up {
      font-size: 18px;
    }
  }
}

.blob {
  position: relative;
  top: 25px;
  left: 22%;
  padding: 20px;
  width: 200px;
  min-height: 115px;
  background: $blueLagoon;
  border-radius: 96% 51% 44% 95%/90% 77% 80% 69%;

  @include iphone6-7-8_max {
    top: 40px;
    left: 42%;
  }

  @include tablet-up {
    top: 30px;
    left: 46%;
    padding: 30px;
    width: 350px;
    min-height: 180px;
  }

  @include big-tablet {
    top: 28px;
    left: 26%;
  }

  @include desktop-min {
    top: 30px;
    left: 30%;
  }

  @include desktop-large {
    left: 38%;
  }

  &__contact {
    margin: 0 auto;
    width: max-content;
    @include flexbox(column, flex-end, flex-end);

    @include tablet-up {
      width: 270px;
    }

    a {
      display: flex;
      width: 15px;
      height: 15px;
      cursor: pointer;

      @include tablet-up {
        width: 25px;
        height: 25px;
      }
    }

    p {
      margin-right: 8px;
      font-size: rem(10px);

      &:hover {
        font-weight: 500;
        text-decoration: underline;
      }

      @include tablet-up {
        margin-right: 16px;
        font-size: rem(16px);
      }

      &:after {
        content: "\002794";
      }
    }
  }

  &__cv {
    margin: 8px 0;
    @include flexbox(row, flex-end, center);

    @include tablet-up {
      margin: 12px 0;

      &:hover {
        @include scale-animation;
      }

    }
  }

  &__mail,
  &__phone {
    margin-bottom: 8px;
    @include flexbox(row, flex-start, center);

    @include tablet-up {
      margin-bottom: 12px;

      &:hover {
        @include scale-animation;
      }
    }
  }
}