.aboutMe {
  color: $white;
  font-family: $montserrat;
  line-height: 1.5;
  margin-top: 350px;

  @include big-tablet {
    margin-top: -350px;
  }

  @include desktop-min {
    margin-top: -350px;
  }

  &__title {
    @include background-project;
    font-size: rem(50px);
    top: -230px;
    padding: 0 30px;
    @include animation-gradient-project;

    @include iphone6-7-8_max {
      font-size: rem(65px);
    }

    @include tablet-up {
      font-size: rem(100px);
      top: -260px;
      padding: 0 60px;
    }

    @include big-tablet {
      font-size: 8.25rem;
      top: 305px;
      left: 235px;
      z-index: 0;
      @include animation-gradient-project;
      max-width: max-content;
    }

    @include desktop-min {
      font-size: 8.25rem;
      top: 305px;
      left: 235px;
      z-index: 0;
      @include animation-gradient-project;
      max-width: max-content;
    }

    @include desktop-up {
      font-size: 9.25rem;
      top: 326px;
      left: 262px;
      max-width: max-content;
      z-index: 0;
    }

    @include desktop-large {
      font-size: 9.25rem;
      top: 326px;
      left: 322px;
      max-width: max-content;
      z-index: 0;
    }
  }

  &__whoami {
    @include background-title;
    font-size: rem(40px);
    top: -290px;
    padding: 0 30px;

    @include iphone6-7-8_max {
      font-size: rem(55px);
    }

    @include tablet-up {
      font-size: rem(80px);
      top: -340px;
      padding: 0 60px;
    }

    @include big-tablet {
      top: 206px;
      left: 394px;
      z-index: 0;
      -webkit-text-stroke-color: $white;
      max-width: max-content;
    }

    @include desktop-min {
      top: 206px;
      left: 394px;
      z-index: 0;
      -webkit-text-stroke-color: $white;
      max-width: max-content;
    }

    @include desktop-up {
      top: 205px;
      left: 427px;
      max-width: max-content;
    }

    @include desktop-large {
      top: 205px;
      left: 610px;
      max-width: max-content;
    }
  }

  &__background {
    height: auto;
    background-color: $darkBlue;
    width: 100%;
    max-height: 300px;
    min-height: 300px;
    padding-bottom: 20px;

    @include tablet-up {
      max-height: 380px;
    }

    @include big-tablet {
      max-height: 568px;
    }

    @include desktop-min {
      max-height: 568px;
    }
  }

  &__image {
    position: relative;
    top: -250px;

    @include tablet-up {
      top: -300px;
    }

    @include big-tablet {
      top: 176px;
      left: -280px;
    }

    @include desktop-min {
      top: 230px;
      left: -280px;
    }

    @include desktop-up {
      width: max-content;
      top: 215px;
      left: -31px;
    }

    @include desktop-large {
      width: max-content;
      top: 215px;
      left: -128px;
    }

    .svg {
      width: 0;
      height: 0;
    }

    .divInBlob {
      width: 220px;
      min-height: 300px;
      background: url(/assets/svg/aboutMe_photo.png);
      background-size: cover;
      -webkit-clip-path: url(#my-clip-path);
      clip-path: url(#my-clip-path);
      margin: 0 auto;

      @include tablet-up {
        width: 268px;
        min-height: 386px;
      }

      @include big-tablet {
        width: 312px;
        min-height: 443px;
      }

      @include desktop-min {
        width: 280px;
        min-height: 390px;
      }

      @include desktop-up {
        width: 317px;
        min-height: 440px;
      }

      @include desktop-large {
        width: 385px;
        min-height: 543px;
      }
    }
  }

  &__text {
    margin-top: -255px;

    @include tablet-up {
      margin-top: -290px;
    }

    @include big-tablet {
      max-width: 500px;
      display: flex;
      flex-direction: column;
      margin-left: 400px;
      margin-top: -240px;
    }

    @include desktop-min {
      max-width: 600px;
      display: flex;
      flex-direction: column;
      // margin-left: 300px;
      margin: -191px 0 0 301px;
    }

    @include desktop-up {
      max-width: 650px;
      margin: -239px 0 0 349px;
    }

    @include desktop-large {
      max-width: 650px;
      margin: -336px 0 0 323px;
    }
  }

  &__subtitle {
    font-weight: bold;
    font-size: rem(13px);
    text-transform: uppercase;
    margin-bottom: 8px;

    @include tablet-up {
      font-size: rem(18px);
      margin-bottom: 16px;
    }

    @include big-tablet {
      font-size: 20px;
    }

    @include desktop-min {
      font-size: 16px;
    }

    @include desktop-up {
      font-size: 21px;
    }

    @include desktop-large {
      font-size: 22px;
    }
  }

  &__description {
    font-size: rem(12px);

    @include iphone6-7-8_max {
      font-size: rem(13px);
    }

    @include tablet-up {
      font-size: rem(18px);
      max-width: 600px;
    }

    @include big-tablet {
      font-size: 16px;
      max-width: 600px;
      line-height: 1.7;
    }

    @include desktop-min {
      font-size: 14px;
      max-width: 600px;
      line-height: 1.7;
    }

    @include desktop-up {
      font-size: 18px;
    }

    @include desktop-large {
      font-size: 20px;
    }
  }
}

.blob {
  width: 200px;
  min-height: 115px;
  background: $blueLagoon;
  position: relative;
  top: 25px;
  left: 22%;
  // margin-left: 30%;
  border-radius: 96% 51% 44% 95%/90% 77% 80% 69%;
  padding: 20px;

  @include iphone6-7-8_max {
    top: 40px;
    left: 42%;
  }

  @include tablet-up {
    top: 30px;
    left: 46%;
    width: 350px;
    min-height: 180px;
    padding: 30px;
  }

  @include big-tablet {
    top: 28px;
    left: 26%;
  }

  @include desktop-min {
    top: 60px;
    left: 29%;
  }

  @include desktop-up {
    top: 20px;
    left: 53%;
  }

  @include desktop-large {
    top: -13px;
    left: 56%;
  }

  &__contact {
    width: max-content;
    @include flexbox(column, flex-end, flex-end);
    margin: 0 auto;

    @include tablet-up {
      width: 270px;
    }

    a {
      width: 15px;
      height: 15px;
      display: flex;
      cursor: pointer;

      @include tablet-up {
        width: 25px;
        height: 25px;
      }
    }

    p {
      font-size: rem(11px);
      margin-right: 8px;

      &:hover {
        font-weight: 500;
        text-decoration: underline;
      }

      @include tablet-up {
        font-size: rem(18px);
        margin-right: 16px;
      }
    }
  }

  &__cv {
    @include flexbox(row, flex-end, center);
    margin: 8px 0;

    @include tablet-up {
      margin: 12px 0;
    }
  }

  &__mail,
  &__phone {
    @include flexbox(row, flex-start, center);
    margin-bottom: 8px;

    @include tablet-up {
      margin-bottom: 12px;
    }
  }
}

@include desktop-large {}