.background {
  position: absolute;
  width: 100vw;
  z-index: -3;
  @include flexbox(row, space-evenly, center);

  &__purpleLines {
    width: 2px;
    height: 8000px;
    @include flexbox(row, center, center);
  }
}

.purpleLines__line1 {
  width: 1px;
  height: 8000px;
  background: $BG_darkBlue-opa_003;
}

.purpleLines__line2 {
  width: 1px;
  height: 8000px;
  background: $BG_darkBlue-opa_008;
}