.footer {
  margin-top: 300px;
  height: 450px;
  color: $white;
  font-family: $montserrat;
  text-transform: uppercase;
  background: $darkBlue;

  @include desktop-min {
    height: 500px;
  }

  &__waves {
    position: relative;
    bottom: -4px;
    left: -1px;
  }

  // &__wave {}


  // &__wave--darkBlue {
  //   position: relative;
  //   top: -15.59rem;
  //   width: 100%;

  //   @include tablet-up {
  //     top: -17.59rem;
  //   }

  //   @include desktop-min {
  //     top: -18.5rem;
  //     width: 1200px;
  //   }
  // }

  // &__wave--lagoon {
  //   position: relative;
  //   top: -6.5rem;
  //   width: 100%;

  //   @include tablet-up {
  //     top: -8.5rem;
  //   }

  //   @include desktop-min {
  //     top: -9.5rem;
  //   }
  // }

  &__svgWave--gradient {
    position: relative;
    top: -11.5rem;
    width: 100%;
    z-index: -2;

    @include iphone6-7-8_max {
      top: -14.5rem;
    }

    @include tablet-up {
      top: -26.5rem;
    }

    @include desktop-min {
      top: -9.5rem;
    }
  }

  &__svgWave--darkBlue {
    position: relative;
    top: -2.98rem;
    left: 0px;
    width: 100%;
    stroke: 1px solid red;

    @include iphone6-7-8_max {
      top: -3.59rem;
    }

    @include tablet-up {
      // top: -6.59rem;
      top: -7.1rem;

    }

    @include big-tablet {
      top: -8.59rem;
    }

    @include desktop-min {
      top: -9.25rem;
    }

    @include desktop-up {
      top: -11.1rem;
      ;
    }

    @include desktop-large {
      top: -12.6rem;
      ;
    }
  }

  &__svgWave--lagoon {
    position: relative;
    top: -6.5rem;
    width: 100%;
    z-index: -1;

    @include iphone6-7-8_max {
      top: -8.5rem;
    }

    @include tablet-up {
      top: -15.5rem;
    }

    @include desktop-min {
      top: -9.5rem;
    }


  }





  &__contents {
    @include flexbox(column, space-between, inherit);

  }

  &__content {
    padding: 24px 0;
    margin-top: -3.375rem;
    border-bottom: 1px solid $whiteKc;

    // @include iphone6-7-8 {
    //   margin-top: -3.875rem;
    // }

    // @include iphone6-7-8_max {
    //   margin-top: -3.5rem;
    // }

    @include tablet-up {
      margin-top: -8.5rem;
    }

    @include big-tablet {
      margin-top: -10.625rem;
    }

    @include desktop-min {
      margin-top: -10rem;
    }

    @include desktop-up {
      margin-top: -13rem;
    }

    @include desktop-large {
      margin-top: -13.5rem;
    }

    @include desktop-Xlarge {
      margin-top: -14.3rem;

    }
  }

  &__scrollUp {
    @include flexbox(column, space-between, center);

    p {
      padding: 8px 0;
      font-size: rem(10px);
      font-variant: small-caps;
      font-weight: thin;
    }

    svg {
      fill: $darkBlue-opa_50;

      &:hover {
        transition: 250ms;
        fill: $darkBlue;
      }
    }


  }

  &__name {
    margin: 42px 0 42px 0;
    font-family: $righteous;
    font-size: rem(30px);
    text-align: center;
    @include gradient-strokes;
    -webkit-text-stroke: 3.5px rgba(255, 255, 255, .01);


    @supports (backdrop-filter: blur(10px)) {
      color: $whiteKc;
      -webkit-text-stroke: 2px linear-gradient(0.42deg, #161569 -230.79%, #2f3f80 -104.45%, #505488 14.14%, #00b7d4 145.11%);
    }

    @include tablet-up {
      margin: 52px 0 52px 0;
      font-size: rem(35px);

    }
  }

  &__networks {
    @include flexbox(row, space-evenly, center);

    p {
      margin: 0 8px;
      font-size: rem(13px);
      font-variant: small-caps;
      font-weight: lighter;
    }

    @include tablet-up {
      margin: 0 32px;
      margin-bottom: 25px;
      @include flexbox(row, center, center);

      p {
        margin: 0 32px;
      }
    }
  }

  &__icons {
    width: 45px;
    height: 45px;
  }

  &__endElements {
    padding: 24px 0;
    font-size: rem(9px);
    font-variant: small-caps;
    font-weight: thin;
    @include flexbox(column, space-between, center);

    p {
      margin: 12px 0 8px 0;
      text-align: center;
    }

    p:first-child {
      order: 1;

    }

    p:last-child {
      order: 1;
    }

    svg {
      margin: 12px 0 12px 0;
      width: 60px;
    }

    @include tablet-up {
      margin-top: 25px;
      @include flexbox(row, space-between, center);

      p:first-child {
        order: 0;
        width: 250px
      }

      p:last-child {
        width: 250px
      }
    }
  }
}