header {
  position: fixed;
  top: 0;
  left: 0;
  @include format_vw-vh;

}

.nav {
  @include flexbox(row, space-between, center);
  width: 100%;
  // height: 10vh;
  padding-top: 10px;
  position: relative;
  z-index: 1;

  &__logo {
    @include flexbox(row, space-around, center);
    width: 46px;
    height: 34px;
  }

  &__burger {
    @include flexbox(row, space-around, center);

    .nav__linkHomeOnHero {
      margin-right: 10px;
      text-decoration: none;
      font-family: $montserrat;
      font-weight: 500;
      font-size: rem(13px);
      text-transform: uppercase;
      color: $darkBlue;
    }

    .nav__menu-button {
      margin-left: 10px;
      width: 41px;
      height: 41px;
      padding: 10px 0;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      position: relative;
      background-image: linear-gradient(45deg, #161569, #2f3f80, #00b7d4);
      border: solid 1px #eee;
      cursor: pointer;
    }

    // animations on click
    .nav__menu-button.clicked {
      .menu-line:nth-of-type(1) {
        transform: translateY(6.5px) rotate(45deg);
      }

      .menu-line:nth-of-type(2) {
        transform: translateX(30px);
        opacity: 0;
        transition: all 0.5s ease;
      }

      .menu-line:nth-of-type(3) {
        transform: translateY(-6.5px) rotate(-45deg);
      }

      .menu-circle:nth-of-type(1) {
        transform: scale(4.5);
        opacity: 0;
        transition: all 0.3s linear;
      }

      .menu-circle:nth-of-type(2) {
        transform: scale(2.8);
        opacity: 0;
        transition: all 0.3s linear;
      }
    }

    /*---------end-----------*/

    .menu-circle {
      //ondes de choc
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: solid 1px #E1E1E1;
    }

    .menu-line {
      // barres du burger
      height: 2.5px;
      width: 20px;
      background: #E1E1E1;
      border-radius: 1em;
      transition: transform 0.3s ease;
    }
  }
}

.menu {
  transition: transform 1s;
  transform: translateY(-1000px);
  @include format_vw-vh;
  background: $darkBlue;
  margin: -51px 0 0 -30px;
  padding: 30px;
  @include flexbox(column, center, center);

  @supports (backdrop-filter: blur(10px)) {
    background: rgba(255, 255, 255, 0.3);
    background-image: url("/assets/svg/blur.svg");
    backdrop-filter: blur(10px);
  }

  ul {
    margin: 25% 0;

    @include iphone6-7-8_max {
      margin: 15% 0 30% 0;
    }
  }


  li {
    list-style-type: none;
    margin-top: 32px;

    a {
      @include flexbox(column, center, center);
      font-family: $montserrat;
      font-style: normal;
      font-weight: 700;
      font-size: rem(30px);
      line-height: 37px;
      text-transform: uppercase;
      text-decoration: none;
      color: $whiteKc;

      @supports (backdrop-filter: blur(10px)) {
        color: $darkBlue;
      }

      @include iphone6-7-8_max {
        font-size: rem(40px);
        line-height: 55px;
      }

      p {
        color: $blueLagoon;
        -webkit-text-stroke: 1.5px #f6fcfc;
        // margin-top: 30%;

        @supports (backdrop-filter: blur(10px)) {
          color: $darkBlue;
          font-weight: 900;
          font-size: rem(33px);
        }

        @include iphone6-7-8_max {
          font-size: rem(40px);
          line-height: 55px;
        }
      }
    }
  }

  &__network {
    p {
      margin: 0 0 8px 0;
      font-family: $montserrat;
      font-weight: 300;
      font-size: rem(11px);
      line-height: 13px;
      letter-spacing: 0.2em;
      font-variant: small-caps;
      text-align: center;
      color: $whiteKc;

      @supports (backdrop-filter: blur(10px)) {
        color: $darkBlue;
      }
    }

    svg {
      margin-right: 24px;

      path {
        fill: $whiteKc;

        @supports (backdrop-filter: blur(10px)) {
          fill: $darkBlue;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }

    @include iphone6-7-8_max {
      margin-bottom: 20px;
    }
  }
}

// .header-is-open {
//   position: absolute;
//   z-index: 1;
// }

.is-open-menu {
  transform: none;
  transition: transform 1s;
  @include format_vw-vh;
  background: $darkBlue;
  margin: -51px 0 0 -30px;
  padding: 30px;

  @supports (backdrop-filter: blur(10px)) {
    background: rgba(255, 255, 255, 0.3);
    background-image: url("/assets/svg/blur.svg");
    backdrop-filter: blur(10px);
  }
}