header {
  position: fixed;
  top: 0;
  left: 0;
  @include format_vw-vh;
}

.nav {
  @include flexbox(row, space-between, center);
  max-width: 1950px;
  width: 100%;
  padding: 10px 30px;
  position: relative;
  z-index: 3;

  @include tablet-up {
    padding: 10px 60px;
  }

  &__logo {
    @include flexbox(row, space-around, center);
    width: 46px;

    @include tablet-up {
      width: 50px;
    }
  }

  &__burger {
    @include flexbox(row, space-around, center);

    .nav__linkHomeOnHero {
      margin-right: 10px;
      text-decoration: none;
      font-family: $montserrat;
      font-weight: 500;
      font-size: rem(13px);
      text-transform: uppercase;
      color: $darkBlue;
    }

    .nav__menu-button {
      margin-left: 10px;
      width: 41px;
      height: 41px;
      padding: 10px 0;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      position: relative;
      background-image: linear-gradient(45deg, #161569, #2f3f80, #00b7d4);
      border: solid 1px #eee;
      cursor: pointer;

      @include tablet-up {
        width: 50px;
        height: 50px;
        padding: 14px 0;
      }
    }

    // animations on click
    .nav__menu-button.clicked {
      .menu-line:nth-of-type(1) {
        transform: translateY(7px) rotate(45deg);
      }

      .menu-line:nth-of-type(2) {
        transform: translateX(30px);
        opacity: 0;
        transition: all 0.5s ease;
      }

      .menu-line:nth-of-type(3) {
        transform: translateY(-6px) rotate(-45deg);
      }

      .menu-circle:nth-of-type(1) {
        transform: scale(4.5);
        opacity: 0;
        transition: all 0.3s linear;
      }

      .menu-circle:nth-of-type(2) {
        transform: scale(2.8);
        opacity: 0;
        transition: all 0.3s linear;
      }
    }

    /*---------end-----------*/

    .menu-circle {
      //ondes de choc
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: solid 1px #e1e1e1;
    }

    .menu-line {
      // barres du burger
      height: 2.5px;
      width: 20px;
      background: #e1e1e1;
      border-radius: 1em;
      transition: transform 0.3s ease;

      @include tablet-up {
        width: 22px;
      }
    }
  }
}

.menu {
  transition: transform 1s;
  transform: translateY(-1500px);
  @include format_vw-vh;
  background: $darkBlue;
  margin: -51px 0 0 0;
  padding: 30px;
  @include flexbox(column, center, center);
  position: relative;
  z-index: 2;


  @supports (backdrop-filter: blur(10px)) {
    background: rgba(255, 255, 255, 0.3);
    background-image: url("/assets/svg/header_blur.svg");
    backdrop-filter: blur(10px);
  }

  @include tablet-up {
    margin: -51px 0 0 0;
  }

  @include desktop-min {
    transform: translateX(-3500px);
    width: 40vw;
    height: 100vh;
    margin: -70px 0 0 0;
    @include flexbox(column, center, flex-start);
  }

  ul {
    margin: 15% 0;

    @include iphone6-7-8_max {
      margin: 10% 0 30% 0;
    }

    @include tablet-up {
      margin: 10% 0 15% 0;
    }

    @include desktop-min {
      margin: 25% 20% 20% 20%;
      @include flexbox(column, center, flex-start);
    }
  }

  li {
    list-style-type: none;
    margin-top: 32px;

    @include tablet-up {
      margin-top: 76px;
    }

    @include desktop-min {
      margin-top: 25px;

      // &:last-child {
      //   margin-bottom: 50px;
      // }
    }

    a {
      @include flexbox(column, center, center);
      font-family: $montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: rem(30px);
      line-height: 1.5;
      text-transform: uppercase;
      text-decoration: none;
      color: $whiteKc;

      &:hover {
        font-weight: bolder;
      }

      @supports (backdrop-filter: blur(10px)) {
        color: $darkBlue;
      }

      @include tablet-up {
        font-size: rem(40px);
      }

      @include desktop-min {
        font-size: rem(35px);
      }

      p {
        color: $blueLagoon;
        -webkit-text-stroke: 1.5px #f6fcfc;
        font-weight: 900;


        &:hover {
          font-weight: bolder;
        }

        @supports (backdrop-filter: blur(10px)) {
          color: $whiteKc;
          -webkit-text-stroke: 2px $blueLagoon;
          font-size: 2.5rem;
        }

        @include tablet-up {
          font-size: 3rem;
          color: $blueLagoon;
          -webkit-text-stroke: 2px #f6fcfc;
        }

        @include desktop-min {
          font-size: rem(40px);
        }
      }
    }
  }

  &__network {
    @include desktop-min {
      margin: 50px auto;
      // @include flexbox(column, center, center);
    }

    p {
      margin: 0 0 8px 0;
      font-family: $montserrat;
      font-weight: 300;
      font-size: rem(11px);
      line-height: 13px;
      letter-spacing: 0.2em;
      font-variant: small-caps;
      text-align: center;
      color: $whiteKc;

      @supports (backdrop-filter: blur(10px)) {
        color: $darkBlue;
      }

      @include tablet-up {
        margin: 0 0 12px 0;
      }

      @include tablet-up {
        font-size: rem(13px);
      }
    }

    .menu__social-icons {
      text-align: center;
    }

    a {
      margin-right: 24px;

      path {
        fill: $whiteKc;

        &:hover {
          fill: $blueLagoon;
          transition: 1s;
        }

        @supports (backdrop-filter: blur(10px)) {
          fill: $darkBlue;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }

    @include iphone6-7-8_max {
      margin-bottom: 20px;
    }
  }
}

// .header-is-open {
//   position: absolute;
//   z-index: 1;
// }

.is-open-menu {
  transform: none;
  transition: transform 250ms;
  @include format_vw-vh;
  background: $darkBlue;
  margin: -61px 0 0 0;
  padding: 30px;
  overflow: hidden;
  position: absolute;
  // z-index: 2;



  @supports (backdrop-filter: blur(10px)) {
    background: rgba(255, 255, 255, 0.3);
    background-image: url("/assets/svg/header_blur.svg");
    backdrop-filter: blur(10px);
  }

  @include tablet-up {
    margin: -70px 0 0 0;
  }

  @include desktop-min {
    width: 45vw;
    height: 100vh;
  }
}

.nav-on-scroll {
  transition: 0.5s;
  background-color: white;
  background-image: $backgroundGradient;
}