.projects {
  margin: 32px 0 400px 0;

}

.project {
  &__background-title {
    @include background-title;
    font-size: rem(40px);
    top: 40px;

    @include tablet-up {
      font-size: rem(80px);
      top: 60px;
    }

    @include desktop-up {
      top: 60px;
      left: 160px;

    }
  }

  &__background-project {
    @include background-project;
    font-size: rem(60px);
    top: -40px;
    @include animation-gradient-project;


    @include tablet-up {
      font-size: rem(100px);
      top: -60px;
    }

    @include desktop-up {
      opacity: 0;
    }
  }




  // réglage du background-title par rapport aux cards, à l'exception de la 1ère.
  .position-settings {
    top: -24px;

    @include tablet-up {
      top: -44px;
    }
  }

  &__left {
    @include desktop-min {}
  }
}


.project__card {
  margin-bottom: 117px;
  // position: static;
  // z-index: -1;

  @include desktop-min {
    max-width: 704px;
    margin-bottom: 170px;
  }

  @include desktop-up {
    min-width: 703px;

    &--left {
      margin-right: 300px;

    }

    &--right {
      margin-left: 258px;
      ;
    }
  }


}

.card {
  background-color: $white;
  @include shadow-card;
  border-radius: 8px;
  margin-top: 16px;

  &__content {
    min-height: 217px;
    padding: 20px;
    @include flexbox(column, space-between, stretch);
    color: $darkBlue;

    @include iphone6-7-8_max {
      min-height: 260px;
    }

    @include tablet-up {
      min-height: 360px;
    }

    @include desktop-min {
      min-height: 300px;

      // &::nth-child(odd) {
      //   color: red;
      // }
    }

    // @include desktop-min {}
  }

  &__informations {
    @include flexbox(row, space-between, center);
    margin-top: -54px;

    @include tablet-up {
      margin-top: -124px;
    }

    @include desktop-min {
      margin-top: -145px;
    }
  }

  &__type {
    font-size: rem(11px);
    font-family: $righteous;
    text-transform: uppercase;

    @include tablet-up {
      font-size: rem(14px);
    }
  }

  &__number {
    font-size: rem(60px);
    font-family: $righteous;
    @include gradient-number;
    position: relative;
    top: -46px;
    text-align: center;



    @include tablet-up {
      font-size: rem(100px);
      top: -73px;
    }

    @include desktop-min {
      max-width: 250px;

      &--toRight {
        font-size: rem(150px);
        top: 203px;
        right: -560px;
      }

      &--toLeft {
        font-size: rem(150px);
        top: 203px;
        left: -157px;
      }
    }
  }

  &__date {
    font-family: $montserrat;
    font-weight: 300;
    font-size: rem(11px);
    font-variant: small-caps;

    @include tablet-up {
      font-size: rem(14px);
    }
  }

  &__title {
    font-family: $righteous;
    font-size: rem(25px);
    color: $darkBlue;
    text-transform: uppercase;
    margin: 24px 0 16px 0;

    @include tablet-up {
      font-size: rem(45px);
    }
  }

  &__synopsis {
    font-family: $montserrat;
    font-weight: 300;
    font-size: rem(12px);
    line-height: 1.5;

    @include tablet-up {
      font-size: rem(18px);
    }
  }

  &__tools {
    text-align: center;
    font-family: $montserrat;
    font-size: rem(10px);
    font-variant: small-caps;

    @include tablet-up {
      font-size: rem(14px);
    }
  }

  &__button {
    margin: 16px auto;
  }

  // &__image {
  // }



  .image {

    &__nova {
      background-image: url(/assets/img/project__nova-pellicia.png);
      @include manage-img-project-mobile;
    }

    &__koala {
      background-image: url(/assets/img/project__koala.png);
      @include manage-img-project-mobile;
    }

    &__nespresso {
      background-image: url(/assets/img/project__nespresso.png);
      @include manage-img-project-mobile;
    }

    &__ikea {
      background-image: url(/assets/img/project__ikea.png);
      @include manage-img-project-mobile;
    }
  }
}