.projects {
  margin: 32px 0 400px 0;


  @include big-tablet {
    margin-bottom: 300px;
  }
}

.project {
  &__background-title {
    top: 40px;
    font-size: rem(40px);
    @include background-title;

    @include tablet-up {
      top: 60px;
      max-width: max-content;
      font-size: rem(80px);
    }

    @include desktop-up {
      top: 60px;
      left: 160px;

    }

    &--bug {
      top: -32px;
    }
  }

  &__background-project {
    top: 0;

    font-size: rem(60px);
    @include background-project;
    @include animation-gradient-project;


    @include tablet-up {
      // top: -60px;
      max-width: max-content;
      font-size: rem(100px);

    }

    @include desktop-up {
      opacity: 0;
    }
  }




  // réglage du background-title par rapport aux cards, à l'exception de la 1ère.
  .position-settings {
    top: -24px;

    @include tablet-up {
      top: -44px;
    }
  }

  &__left {
    @include desktop-min {}
  }
}


.project__card {
  margin-bottom: 117px;

  @include big-tablet {
    margin-bottom: 170px;
  }

  @include desktop-min {
    margin: 0 auto;
    margin-bottom: 170px;
    max-width: 704px;
    @include scale-animation-light;
  }

  @include desktop-up {
    min-width: 703px;

    &--left {
      margin-right: 300px;

    }

    &--right {
      margin-left: 258px;
      ;
    }
  }


}

.card {
  margin-top: 16px;
  background-color: $white;
  border-radius: 8px;
  @include shadow-card;

  &__content {
    padding: 20px;
    min-height: 217px;
    color: $darkBlue;
    @include flexbox(column, space-between, stretch);

    @include iphone6-7-8_max {
      min-height: 260px;
    }

    @include tablet-up {
      min-height: 360px;
    }

    @include desktop-min {
      min-height: 300px;
    }
  }

  &__informations {
    margin-top: -54px;
    @include flexbox(row, space-between, center);

    @include tablet-up {
      margin-top: -124px;
    }

    @include desktop-min {
      margin-top: -145px;
    }
  }

  &__type {
    font-family: $righteous;
    font-size: rem(11px);
    text-transform: uppercase;

    @include tablet-up {
      font-size: rem(14px);
    }
  }

  &__number {
    position: relative;
    top: -46px;
    font-family: $righteous;
    font-size: rem(60px);
    text-align: center;
    @include gradient-number;



    @include tablet-up {
      top: -73px;
      font-size: rem(100px);
    }

    @include desktop-min {
      max-width: 250px;

      &--toRight {
        top: 203px;
        right: -560px;
        font-size: rem(150px);
      }

      &--toLeft {
        top: 203px;
        left: -157px;
        font-size: rem(150px);
      }
    }
  }

  &__date {
    font-family: $montserrat;
    font-size: rem(11px);
    font-variant: small-caps;
    font-weight: 300;

    @include tablet-up {
      font-size: rem(14px);
    }
  }

  &__title {
    margin: 24px 0 16px 0;
    color: $darkBlue;
    font-family: $righteous;
    font-size: rem(25px);
    text-transform: uppercase;

    @include tablet-up {
      font-size: rem(45px);
    }
  }

  &__synopsis {
    font-family: $montserrat;
    font-size: rem(12px);
    font-weight: 300;
    line-height: 1.5;

    @include tablet-up {
      font-size: rem(18px);
    }
  }

  &__tools {
    font-family: $montserrat;
    font-size: rem(10px);
    font-variant: small-caps;
    text-align: center;

    @include tablet-up {
      font-size: rem(14px);
    }
  }

  &__button {
    margin: 16px auto;
  }

  // &__image {
  // }



  .image {

    &__nova {
      background-image: url(/assets/img/project__nova-pellicia.png);
      @include manage-img-project-mobile;
    }

    &__koala {
      background-image: url(/assets/img/project__koala.png);
      @include manage-img-project-mobile;
    }

    &__nespresso {
      background-image: url(/assets/img/project__nespresso.png);
      @include manage-img-project-mobile;
    }

    &__ikea {
      background-image: url(/assets/img/project__ikea.png);
      @include manage-img-project-mobile;
    }

    &__socoda {
      background-image: url(/assets/img/project__socoda.png);
      @include manage-img-project-mobile;
    }

    &__otaku {
      background-image: url(/assets/img/project__otaku.png);
      @include manage-img-project-mobile;
    }
  }
}