.skills {
  margin-top: 250px; //marche pas... 

  &__bigTitle {
    position: relative;
    top: 20px;
    font-size: rem(50px);
    @include background-project;
    @include animation-gradient-project;

    @include iphone6-7-8_max {
      font-size: rem(65px);
    }

    @include tablet-up {
      top: -15px;
      font-size: rem(100px);
    }

    @include big-tablet {
      max-width: max-content;
      font-size: 8.25rem;
      z-index: 0;
      @include animation-gradient-project;
    }

    @include desktop-min {
      top: 35px;
      max-width: max-content;
      font-size: 8.25rem;
      @include animation-gradient-project;
    }

  }

  &__mediumTitle {
    font-size: rem(32px);
    @include background-title;

    @include iphone6-7-8_max {
      font-size: rem(44px);
    }

    @include tablet-up {
      top: -50px;
      font-size: rem(70px);
    }

    @include big-tablet {
      max-width: max-content;

    }

    @include desktop-min {
      top: -9px;
      max-width: max-content;
    }

  }

  &__columns {

    @include big-tablet {
      @include flexbox(row, space-between, flex-start);
    }

    @include desktop-min {
      @include flexbox(row, space-between, flex-start);
    }
  }

  &__namedColumn {
    @include flexbox(column, center, center);
    @include scale-animation;
  }

  &__icons {
    position: relative;
    top: 82px;
    left: 35%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    fill: $iconGradient;

    @include big-tablet {
      top: 95px;
    }

    @include desktop-min {
      left: 0%;
    }

  }

  &__title {
    margin-bottom: 32px;
    font-size: rem(24px);
    @include background-title;
    color: $darkBlue;
    text-transform: initial;
    -webkit-text-stroke-width: 1.5px;

    @include big-tablet {
      margin-bottom: 40px;
      font-size: rem(32px);
    }
  }

  &__column {
    padding: 32px 0;
    min-width: 288px;
    max-width: 335px;
    background: $darkBlue;
    border-radius: 10px 10px 150px 150px;
    @include flexbox(column, center, center);
    @include shadow-animation;
  }

  &__category {
    margin: 24px 0;
  }

  &__subtitle {
    margin-bottom: 16px;
    color: $white;
    font-family: $montserrat;
    font-size: rem(14px);
    font-weight: bold;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    @include gradient-strokes;

    @supports (backdrop-filter: blur(10px)) {
      color: $whiteKc;
      -webkit-text-stroke: 2px linear-gradient(0.42deg, #161569 -230.79%, #2f3f80 -104.45%, #505488 14.14%, #00b7d4 145.11%);
    }
  }

  &__value {
    margin-bottom: 8px;
    color: $white;
    font-family: $montserrat;
    font-size: rem(14px);
    line-height: 14px;
    @include flexbox(column, center, center);


  }
}