.bg-hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: $backgroundGradient;
  z-index: 1;
}

.hero {
  height: inherit;
  @include flexbox(column, space-evenly, center);

  @include desktop-min {
    height: 100vh;
  }

  &__content {
    height: inherit;
    @include flexbox(column, space-evenly, center);

    @include desktop-min {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: space-evenly;
      margin-top: 5%;
      width: 90%;
      height: initial;
    }

    @include desktop-large {
      width: 100%;
    }
  }

  &__svg {
    //container of vector me
    margin-top: 15%;
    width: inherit;
    @include flexbox(column, flex-end, center);

    @include desktop-min {
      margin: 0 7% 0 0;
      @include flexbox(row, center, center);
    }

    @include desktop-large {
      margin: 0 20% 0 0;
    }
  }



  &__vectorMe {
    width: 120px;
    height: 210px;

    @include iphone6-7-8_max {
      width: 150px;
      height: 260px;
    }


    @include tablet-up {
      margin-top: 0;
      width: 10.25rem;
      height: 17.375rem;
    }

    @include big-tablet {
      width: 300px;
      height: 540px;
    }

    @include desktop-min {
      width: 340px;
      height: 570px;
    }
  }

  &__name {
    width: 220px;

    @include iphone6-7-8_max {
      width: 320px;
    }

    @include tablet-up {
      margin-top: 12px;
      width: 380px;

    }

    @include desktop-min {
      margin-top: 0;
      padding-top: 75px;
    }

    @include desktop-large {
      width: 550px;
    }
  }

  &__introduction {
    @include tablet-up {
      margin: 24px 0 0 0;
    }

    @include big-tablet {
      margin: 50px 0 0 0;
    }


    .introduction__job {
      padding-bottom: 10px;
      margin: 0 0 8px 0;
      max-width: 250px;
      color: $darkBlue;
      font-family: $righteous;
      font-size: rem(20px);
      line-height: 1.5;
      border-bottom: 1px solid $darkBlue-opa_50;

      @include tablet-up {
        max-width: 400px;
        font-size: rem(24px);
      }

      @include big-tablet {
        font-size: rem(34px);
      }

      @include desktop-large {
        margin: 0 0 12px 0;
        max-width: 500px;
        font-size: rem(34px);
      }
    }

    .introduction__details {
      max-width: 330px;

      @include tablet-down {
        margin-top: 25px;
      }

      @include tablet-up {
        max-width: 600px;
      }



      .introduction__network {
        display: none;

        @include tablet-up {
          display: flex;
        }
      }

      @include tablet-up {
        @include flexbox(row, space-between, end);

        div {
          //bloc de texts a gauche de __network
          max-width: 400px;

          @include desktop-large {
            max-width: 503px;
          }
        }

        .introduction__network {
          padding-left: 30px;
          margin: auto;


          @include desktop-large {
            padding-left: 75px;
          }
        }

        .introduction__social-icons {
          @include flexbox(column, center, center);

          a {
            margin-bottom: 24px;

            path {
              fill: $darkBlue;

              &:hover {
                transition: 250ms;
                fill: $darkBlue;
              }
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .introduction__welcome {
      margin: 0 0 4px 0;
      color: $darkBlue;
      font-family: $montserrat;
      font-size: rem(12.5px);
      font-weight: 600;
      line-height: 1.5;

      @include iphone6-7-8 {
        font-size: rem(15px);
      }

      @include tablet-up {
        margin: 0 0 8px 0;
        font-size: rem(18px);
      }
    }

    .introduction__purpose {
      margin: 0 0 5px 0;
      max-width: 400px;
      color: $darkBlue;
      font-family: $montserrat;
      font-size: rem(11px);
      font-weight: 500;
      line-height: 1.5;

      @include iphone6-7-8 {
        margin: 0 0 24px 0;
        font-size: rem(13px);
      }

      @include tablet-up {
        font-size: rem(16px);
      }

      @include desktop-large {
        max-width: 500px;
      }
    }
  }

  &__scrollDown {
    display: flex;
    justify-content: center;

    svg {
      width: 35px;

      @include iphone6-7-8_max {
        width: 40px;
      }

      path {
        fill: $darkBlue-opa_50;

        &:hover {
          transition: 250ms;
          fill: $darkBlue;
        }
      }
    }

    @include desktop-min {
      display: none;
    }
  }
}

.hero__scrollDown--laptop {
  display: none;

  @include desktop-min {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    @include scale-animation-light;
    -webkit-transform: scale(1.08);
    transform: scale(1.08);

    svg {
      width: 55px;

      path {
        fill: $darkBlue-opa_50;

        &:hover {
          transition: 250ms;
          fill: $darkBlue;
        }
      }
    }
  }
}