.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $whiteKc;
  z-index: 999;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: auto;
  transform: translate(-50%, -50%);
  @include flexbox(column, center, flex-start);
}

.ghost {
  animation: float 3s ease-out infinite;
}

@keyframes float {
  50% {
    transform: translate(0, 20px);
  }
}

.shadowFrame {
  position: absolute;
  top: 130%;
  left: 50%;
  margin: 15px;
  width: 130px;
  transform: translate(-60%, -60%);
}

.shadow {
  fill-opacity: 0.2;
  transform-origin: center center;
  animation: shrink 3s ease-out infinite;

  ellipse {
    transform-origin: center center;
  }
}

@keyframes shrink {
  0% {
    margin: 0 18%;
    width: 60%;
  }

  50% {
    margin: 0 5%;
    width: 90%;
  }

  100% {
    margin: 0 18%;
    width: 60%;
  }
}

.loader__text {
  position: relative;
  top: 120px;
  margin-left: 16px;
  color: $darkBlue;
  font-family: $righteous;
  font-size: 24px;
}


.dots:after {
  display: inline-block;
  width: 0px;
  overflow: hidden;
  vertical-align: bottom;
  -webkit-animation: dot steps(4, end) 1000ms infinite;
  animation: dot steps(4, end) 1000ms infinite;
  content: "\2026";
}


@keyframes dot {
  to {
    width: 1.5rem;
  }
}


.hidden-loader {
  animation: disparition 1s forwards;

}

@keyframes disparition {
  100% {
    visibility: hidden;
    opacity: 0;
  }
}