.projectNespresso {

  &__textualCard {
    margin: -40px 0 16px;
    max-width: 496px;


    @include tablet-up {
      margin: -8.1875rem 0 1rem;

    }

    @include desktop-min {
      position: relative;
      left: 155px;
      order: 0;
      padding: 24px;
      margin: 0;
      min-width: 470px;
      max-width: 500px;
    }

    @include desktop-large {
      left: 200px;
    }
  }

  &__images {
    position: relative;
    top: -12px;
    @include flexbox(column, center, center);

    @include desktop-min {
      position: relative;
      left: 50px;
      top: 0;
      @include flexbox(row, center, center);
    }
  }

  .iMac {
    margin-left: 15.9375rem;
    width: 29.75rem;
    max-width: initial;

    @include tablet-up {
      position: relative;
      top: 1.75rem;
      margin-left: 25.9375rem;
      width: 50.75rem;
    }

    @include big-tablet {
      width: 60.75rem;
    }

    @include desktop-min {
      top: 1.15rem;
      margin-left: 0;
      width: 44.75rem;
    }

    @include desktop-large {
      width: 50.75rem;
    }
  }

  .macbook {
    position: relative;
    top: -157px;
    left: -11px;
    width: 14.75rem;

    @include tablet-up {
      top: -19.25rem;
      width: 32.75rem;
    }

    @include big-tablet {
      left: -137px;
    }

    @include desktop-min {
      top: 7.25rem;
      left: -370px;
      width: 24.75rem;
    }

    @include desktop-large {
      width: 28.75rem;
      top: 8rem;

    }

  }

  .project__scrollDown {
    top: 385px;

    @include tablet-up {
      top: 657px;
    }

    @include big-tablet {
      top: 765px;
    }
  }
}