*,
*::before,
*::after {
  box-sizing: border-box;
}


.btn {
  position: relative;
  padding: 12px 14px;
  max-width: 145px;
  color: #161569;
  font-family: $montserrat;
  font-size: rem(10px);
  font-weight: lighter;
  letter-spacing: 3px;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 400ms ease-in-out;
  user-select: none;
  z-index: 0;
  outline: none;

  @include tablet-up {
    padding: 16px 16px;
    max-width: 250px;
    font-size: rem(16px);
  }
}


.btn::before,
.btn::after {
  position: absolute;
  transition: inherit;
  content: ' ';
  z-index: -1;
}

.btn:hover {
  color: #F9F9F9;
  transition-delay: 0.6s;
}

.btn:hover::before {
  transition-delay: 0s;

}

.btn:hover::after {
  background: linear-gradient(45deg,
      #161569,
      #2F3F80,
      #00B7D4);
  transition-delay: 0.4s;
}


.anim-top::before,
.anim-top::after {
  left: 0;
  width: 100%;
  height: 0;
}

.anim-top::before {
  bottom: 0;
  border: solid 2px #161569;
  border-top: 0;
  border-bottom: 0;

}

.anim-top::after {
  top: 0;
}

.anim-top:hover::before,
.anim-top:hover::after {
  height: 100%;
  border-radius: 2px;
}






.project__navigation {
  @include flexbox(row, space-between, center);

  @include tablet-up {
    margin-top: 24px;
  }

  @include big-tablet {
    margin-top: 0;
  }

  @include desktop-min {
    margin: 24px 0 32px;
  }

}

.project__btnLink {}

.project__button {
  padding: 8px 10px 8px 4px;
  max-width: 95px;
  color: $whiteKc;
  background: none;
  font-family: $montserrat;
  font-size: rem(11px);
  letter-spacing: 2px;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  border: none;
  // border-radius: 15px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
  user-select: none;

  &--right {
    padding: 8px 4px 8px 10px;
  }

  &:hover {
    color: $darkBlue;
    font-weight: 600;
    // background: $darkBlue;
  }
}