//ICI DÉCLARATIONS DES @fontface...

//MONTSERRAT//

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local('Montserrat'), url('/fonts/Montserrat-Regular.woff2') format('woff2'), url('/fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local('Montserrat'), url('/fonts/Montserrat-SemiBold.woff2') format('woff2'), url('/fonts/Montserrat-SemiBold.woff') format('woff');
}

// @font-face {
//   font-family: 'Montserrat';
//   font-style: normal;
//   font-weight: 300;
//   font-display: swap;
//   unicode-range: U+000-5FF;
//   src: local('Montserrat'), url('/fonts/Montserrat-Light.woff2') format('woff2'), url('/fonts/Montserrat-Light.woff') format('woff');
// }

// @font-face {
//   font-family: 'Montserrat';
//   font-style: normal;
//   font-weight: 500;
//   font-display: swap;
//   unicode-range: U+000-5FF;
//   src: local('Montserrat'), url('/fonts/Montserrat-Medium.woff2') format('woff2'), url('/fonts/Montserrat-Medium.woff') format('woff');
// }

//RIGHTEOUS//

@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local('Righteous'), local('Righteous-Regular'),
    url(https://themes.googleusercontent.com/static/fonts/righteous/v2/w5P-SI7QJQSDqB3GziL8XaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}