// FUNCTIONS
@function rem($size) {
  $remSize: $size / 16px;

  @return #{$remSize}rem;
}

// appliquer la propriété de cette façon : font-size: rem(14px);

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  position: relative;
  top: -30px;
}