//************************* COLORS *************************//

// PRIMARY :
$white: #ffffff;
$darkBlue: #161569;
$whiteKc: #f6fcfc;

// SECONDARY
$blueGrey: #2f3f80;
$purpleBlue: #505488;
$blueLagoon: #00b7d4;


// COLORS WITH OPACITY :
$darkBlue-opa_50: rgba(26, 27, 109, 0.5);
$darkBlue-opa_03--titleSection: rgba(22, 21, 105, 0.03);
$darkBlue-opa_05--subTitleSection: rgba(22, 21, 105, 0.2);
$backgroundTitle: rgba(22, 21, 105, 0.15);
$backgroundProject: rgba(22, 21, 105, 0.04);


// Colors for background lines
$BG_darkBlue-opa_003: rgba(22, 21, 105, 0.03); //left line
$BG_darkBlue-opa_008: rgba(22, 21, 105, 0.08); //right line


// GRADIENTS :
$gradientOriginal: linear-gradient(80.36deg,
  #161569 -98.51%,
  #2f3f80 -38.63%,
  #505488 24.65%,
  #00b7d4 118.41%);

$gradient1: linear-gradient(0.42deg,
  #161569 -230.79%,
  #2f3f80 -104.45%,
  #505488 14.14%,
  #00b7d4 145.11%);

$backgroundGradient: linear-gradient(103.23deg,
  rgba(182, 251, 255, 0.1) -25.45%,
  rgba(0, 183, 212, 0.1) 16.51%,
  rgba(47, 63, 128, 0.1) 53.77%,
  rgba(22, 21, 105, 0.1) 100%);

$iconGradient: linear-gradient(181.28deg,
  #161569 -176.37%,
  #2f3f80 -65.45%,
  #505488 30.87%,
  #00b7d4 135.95%);

$numberGradient: 81.99deg,
#161569 -98.51%,
#2f3f80 -38.63%,
#505488 24.65%,
#00b7d4 118.41%;




//************************* FONTS *************************//

$righteous: "Righteous",
sans-serif;
$montserrat: "Montserrat",
sans-serif;




//************************* BREAKPOINTS *************************//

$iphone6-7-8: 374px;
$iphone6-7-8__: 375px;
// $iphone6-7-8_max: 413px;
$iphone6-7-8_max: 410px;

$tablet-up: 768px;
$tablet-down: 767px;
$big-tablet: 1024px;

$desktop-height: 750px;
$desktop-down: 1199px;
$desktop-up: 1200px;
$desktop-large: 1366px;
$desktop-Xlarge: 1768px;



//************************* MEDIA QUERIES *************************//


@mixin tablet-up {
  @media (min-width: $tablet-up) {
    @content;
  }
}

@mixin tablet-down {
  @media (max-width: $tablet-down) {
    @content;
  }
}

@mixin desktop-min {
  @media (min-width: 1024px) and (min-height: $desktop-height) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: $desktop-up) {
    @content;
  }
}

@mixin desktop-down {
  @media (max-width: $desktop-down) {
    @content;
  }
}

@mixin desktop-large {
  @media (min-width: $desktop-large) {
    @content;
  }
}

@mixin desktop-Xlarge {
  @media (min-width: $desktop-Xlarge) {
    @content;
  }
}

@mixin landscape {
  @media (min-aspect-ratio: 1/1) {
    @content;
  }
}



@mixin iphone6-7-8 {
  @media (min-width: $iphone6-7-8) {
    @content;
  }
}

@mixin iphone6-7-8_max {
  @media (min-width: $iphone6-7-8_max) {
    @content;
  }
}

@mixin iphoneXS_Max {
  @media (min-width: 414px) and (max-width: $iphoneXs_max-height) {
    @content;
  }
}


//************************* MIXINS *************************//


@mixin flexbox($direction: row, $justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  flex-direction: $direction;
  align-items: $align;
}

@mixin format_vw-vh {
  height: 100vh;
  width: 100vw;
}

@mixin shadow-card {
  box-shadow: 12px 24px 48px rgba(0, 0, 0, 0.15);
}

@mixin gradient-number {
  background: linear-gradient($numberGradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  // background-size: 30%;
  background-position: center;
}

@mixin manage-img-project-mobile {
  background-size: cover;
  background-position: center;
  border-radius: 0 0 8px 8px;
  min-height: 217px;

  @include iphone6-7-8_max {
    min-height: 260px;
  }

  @include tablet-up {
    min-height: 360px;
  }
}

@mixin background-title {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $backgroundTitle;
  font-family: $righteous;
  text-transform: uppercase;
  position: relative;
  z-index: -1;
}

@mixin background-project {
  color: $backgroundProject;
  font-family: $righteous;
  text-transform: uppercase;
  position: relative;
  z-index: -1;
}