<section class="project project__left">
  <h2 class="project__background-title position-settings">showcase site</h2>
  <div class="project__card project__card--left card">
    <div class="card__content">
      <p class="card__number card__number--toRight">01</p>
      <div class="card__informations">
        <h3 class="card__type">site vitrine</h3>
        <h3 class="card__date">17 nov 2019</h3>
      </div>
      <div class="card__description">
        <h2 class="card__title">ikea</h2>
        <p class="card__synopsis">Imaginer et créer un produit unique qui n’existe pas déjà, puis le presenter à travers un site vitrine, sous l’influence d’une enseigne existante.</p>
      </div>
      <div class="card__button button">
        <a href=""><div class="btn anim-top"><span>Voir le projet</span></div></a>
      </div>
      <div class="card__tools">
        <p>html | css | figma  </p>
      </div>
    </div>
      <div class="card__image image">
        <div class="image__ikea">
        </div>
    </div>
  </div>
</section>
