<section id="animate24" class="project">
  <h2 class="project__background-title project__background-title--bug tween_themeNova">web site </h2>

  <div class="project__card project__card--right card ">
    <div class="card__content">
      <p class="card__number card__number--toLeft">04</p>
      <div class="card__informations">
        <h3 class="card__type">site web</h3>
        <h3 class="card__date">15 feb 2020</h3>
      </div>
      <div class="card__description">
        <h2 class="card__title">Nova Pellicia</h2>
        <p class="card__synopsis">Présenter un produit à la fois éco-responsable, et personnalisable à travers une landing page. </p>
      </div>
      <div class="card__button button">
        <a href="/page_project-nova.pug"><div class="btn anim-top"><span>Voir le projet</span></div></a>
      </div>
      <div class="card__tools">
        <p>html | scss | javascript | figma | ps & ai </p>
      </div>
    </div>
      <div class="card__image image">
        <div class="image__nova">
        </div>
    </div>
  </div>
</section>
