<section class="project">
  <h2 class="project__background-title position-settings">Dashboard</h2>
  <div class="project__card project__card--left card">
    <div class="card__content">
      <p class="card__number card__number--toRight">05</p>
      <div class="card__informations">
        <h3 class="card__type">Dashboard</h3>
        <h3 class="card__date">26 mars 2020</h3>
      </div>
      <div class="card__description">
        <h2 class="card__title">Socoda</h2>
        <p class="card__synopsis">Réalisation d'une plateforme d'achat et de vente pour les professionnels de la restauration. </p>
      </div>
      <div class="card__button button">
        <a href="/page_project-socoda.pug"><div class="btn anim-top"><span>Voir le projet</span></div></a>
      </div>
      <div class="card__tools">
        <p>FIGMA | ATOMIC DESIGN | WIREFRAMES | PROTOTYPAGE </p>
      </div>
    </div>
    <div class="card__image image">
      <div class="image__socoda">
      </div>
    </div>  
  </div>
</section>
