<!DOCTYPE html>
//- <svg><use xlink:href="#symbol-defs"></svg>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="Portfolio Developpeur front-end" content="Anthony Roux, Étudiant de 27 ans en web developpement front-end. Ceci est mon 1er portfolio. Developpement & Design : HTML, Pug, SCSS, JavaScript. Figma.">
    <link type="text/css" rel="stylesheet" href="./scss/styles.scss" />
    <script defer src="./js/script.js"></script>
    <title>Anthony Roux - Developpeur Front-End</title>
  </head>

  <body>
    include includes/header.pug
    <main>
      include includes/hero.pug
      include includes/background.pug
      <div class="corpo content-wrapper">
        <section class="projects">
          include includes/vertical-titles.pug  
          include includes/project-nova.pug
          include includes/project-koala.pug
          include includes/project-nespresso.pug
          include includes/project-ikea.pug
        </section>
      </div>
        include includes/about-me.pug
    </main>

    
    <div>
      <svg id="symbol-defs" aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">>
      <defs>


      <symbol id="icon-aboutMe_blob_phone" viewBox="0 0 32 32">
      <title>textez ou appelez-moi !</title>
      <path fill="#e38939" style="fill: var(--color1, #e38939)" d="M7.9 26.158v-20.317c0-1.397 1.144-2.54 2.542-2.54h10.167c1.398 0 2.542 1.143 2.542 2.54v20.317c0 1.397-1.144 2.54-2.542 2.54h-10.167c-1.398 0-2.542-1.143-2.542-2.54z"></path>
      <path fill="#fff3e0" style="fill: var(--color2, #fff3e0)" d="M20.609 5.206h-10.167c-0.381 0-0.635 0.254-0.635 0.635v18.413c0 0.381 0.254 0.635 0.635 0.635h10.167c0.381 0 0.635-0.254 0.635-0.635v-18.413c0-0.381-0.254-0.635-0.635-0.635z"></path>
      <path fill="#a6642a" style="fill: var(--color3, #a6642a)" d="M15.526 27.746c0.526 0 0.953-0.426 0.953-0.952s-0.427-0.952-0.953-0.952c-0.526 0-0.953 0.426-0.953 0.952s0.427 0.952 0.953 0.952z"></path>
      </symbol>


      <symbol id="icon-aboutMe_blob_cv" viewBox="0 0 32 32">
      <title>attention les yeux !</title>
      <path fill="#dde8e3" style="fill: var(--color4, #dde8e3)" d="M1.228 15.714c0 4.19 1.763 10.286 7.149 10.286s7.149-6.095 7.149-10.286c0-12.952-14.298-12.952-14.298 0z"></path>
      <path fill="#dde8e3" style="fill: var(--color4, #dde8e3)" d="M15.525 15.714c0 4.19 1.763 10.286 7.149 10.286s7.149-6.095 7.149-10.286c0-12.952-14.298-12.952-14.298 0z"></path>
      <path fill="#fff" style="fill: var(--color5, #fff)" d="M1.609 16.048c0 3.619 1.144 9.19 5.719 9.19s5.719-5.619 5.719-9.19c-0.048-12.381-11.438-12.381-11.438 0z"></path>
      <path fill="#fff" style="fill: var(--color5, #fff)" d="M15.906 16.048c0 3.619 1.144 9.19 5.719 9.19s5.719-5.619 5.719-9.19c-0.048-12.381-11.438-12.381-11.438 0z"></path>
      <path fill="#493b30" style="fill: var(--color6, #493b30)" d="M1.609 16.095c0 2.952 2.097 5.238 4.623 5.238 2.574 0 4.623-2.286 4.623-5.238 0-7.238-9.246-7.238-9.246 0z"></path>
      <path fill="#493b30" style="fill: var(--color6, #493b30)" d="M15.906 16.095c0 2.952 2.097 5.238 4.623 5.238 2.574 0 4.623-2.286 4.623-5.238 0-7.238-9.246-7.238-9.246 0z"></path>
      </symbol>

      <symbol id="icon-aboutMe_blob_mail" viewBox="0 0 32 32">
      <title>envoyez-moi un mail</title>
      <path fill="#d35400" style="fill: var(--color7, #d35400)" d="M29.561 12.644h-28.064c-0.337 0-0.61 0.273-0.61 0.611v17.372c0 0.338 0.273 0.611 0.61 0.611h28.064c0.080-0 0.16-0.016 0.234-0.047s0.141-0.076 0.198-0.133c0.057-0.057 0.102-0.124 0.132-0.198s0.046-0.153 0.046-0.234v-17.372c0-0.080-0.016-0.16-0.046-0.234s-0.076-0.141-0.132-0.198c-0.057-0.057-0.124-0.102-0.198-0.133s-0.153-0.047-0.234-0.047z"></path>
      <path fill="#ecf0f1" style="fill: var(--color8, #ecf0f1)" d="M1.801 5.63v24.992c0 0.34 0.273 0.616 0.61 0.616h26.232c0.081-0 0.16-0.017 0.234-0.048s0.142-0.077 0.198-0.134c0.057-0.057 0.101-0.125 0.132-0.199s0.046-0.154 0.045-0.235v-29.254c0-0.080-0.015-0.16-0.045-0.235s-0.075-0.142-0.132-0.199c-0.057-0.057-0.124-0.103-0.198-0.134s-0.154-0.047-0.234-0.048l-21.96 0.002-4.881 4.875z"></path>
      <path fill="#000" style="fill: var(--color9, #000)" opacity="0.1" d="M12.476 22.704l16.775-10.057 0.001 2.127-13.412 7.93h-3.364z"></path>
      <path fill="#f39c12" style="fill: var(--color10, #f39c12)" d="M0.885 30.626c0 0.338 0.273 0.612 0.61 0.612h28.061c0.337 0 0.61-0.274 0.61-0.612v-17.064l-14.641 8.838-14.641-8.838v17.064z"></path>
      <path fill="#f1c40f" style="fill: var(--color11, #f1c40f)" d="M1.801 5.63l4.881 0.003v-4.871l-4.881 4.868z"></path>
      <path fill="#f1c40f" style="fill: var(--color11, #f1c40f)" d="M0.885 13.563l0.016 16.457 14.625-7.619-14.641-8.838z"></path>
      <path fill="#e57e22" style="fill: var(--color12, #e57e22)" d="M30.168 13.563l-14.641 8.838 14.641 7.619v-16.457z"></path>
      <path fill="#000" style="fill: var(--color9, #000)" opacity="0.3" d="M30.167 30.626v-0.607l-14.641-7.619 14.436 8.68c0.125-0.112 0.205-0.273 0.205-0.454zM0.885 30.626v-0.607l14.641-7.619-14.436 8.68c-0.064-0.057-0.116-0.127-0.151-0.205s-0.054-0.163-0.054-0.249z"></path>
      </symbol>




      <symbol id="icon-scroll-down" viewBox="0 0 32 32">
      <title>scroll-down</title>
      <path fill="#1a1b6d" style="fill: var(--color13, #1a1b6d)" d="M16 3.2c7.056 0 12.8 5.744 12.8 12.8s-5.744 12.8-12.8 12.8c-7.056 0-12.8-5.744-12.8-12.8s5.744-12.8 12.8-12.8zM16 0c-8.832 0-16 7.168-16 16s7.168 16 16 16c8.832 0 16-7.168 16-16s-7.168-16-16-16zM16 20.8l-6.4-6.4h12.8l-6.4 6.4z"></path>
      </symbol>




      <symbol id="icon-linkedin" viewBox="0 0 32 32">
      <title>linkedin</title>
      <path fill="#1a1b6d" style="fill: var(--color13, #1a1b6d)" opacity="0.5" d="M29 0h-26c-1.65 0-3 1.347-3 2.994v25.946c0 1.647 1.35 2.994 3 2.994h26c1.65 0 3-1.347 3-2.994v-25.946c0-1.647-1.35-2.994-3-2.994zM12 25.946h-4v-13.971h4v13.971zM10 9.979c-1.106 0-2-0.892-2-1.996s0.894-1.996 2-1.996c1.106 0 2 0.892 2 1.996s-0.894 1.996-2 1.996zM26 25.946h-4v-7.983c0-1.104-0.894-1.996-2-1.996s-2 0.892-2 1.996v7.983h-4v-13.971h4v2.476c0.825-1.129 2.087-2.476 3.5-2.476 2.488 0 4.5 2.233 4.5 4.99v8.981z"></path>
      </symbol>



      <symbol id="icon-codepen" viewBox="0 0 32 32">
      <title>codepen</title>
      <path fill="#8787b2" style="fill: var(--color14, #8787b2)" d="M15.146 12.525v-3.975l-6.686 4.45 2.986 1.993 3.7-2.468zM24.221 17.443v-2.85l-2.136 1.425 2.136 1.425zM16 0c-8.836 0-16 7.164-16 16s7.164 16 16 16c8.836 0 16-7.164 16-16s-7.164-16-16-16zM25.929 19.036c0 0.039-0.004 0.075-0.007 0.111 0 0.014-0.004 0.025-0.007 0.036-0.005 0.039-0.015 0.077-0.029 0.114-0.007 0.021-0.014 0.043-0.021 0.061-0.007 0.014-0.014 0.029-0.018 0.043-0.011 0.018-0.018 0.039-0.029 0.057-0.007 0.014-0.014 0.025-0.025 0.039-0.011 0.018-0.025 0.036-0.036 0.053-0.011 0.014-0.018 0.025-0.029 0.036-0.014 0.014-0.029 0.032-0.043 0.046-0.011 0.011-0.021 0.021-0.036 0.032-0.014 0.014-0.032 0.029-0.050 0.039-0.014 0.011-0.025 0.021-0.039 0.029-0.004 0.004-0.011 0.007-0.014 0.011l-9.075 6.043c-0.143 0.096-0.307 0.143-0.471 0.143-0.168 0-0.332-0.050-0.475-0.143l-9.075-6.039c-0.004-0.004-0.011-0.007-0.014-0.011l-0.039-0.029c-0.018-0.014-0.032-0.025-0.046-0.039-0.011-0.011-0.021-0.021-0.036-0.032-0.014-0.014-0.029-0.029-0.043-0.046-0.011-0.011-0.020-0.023-0.029-0.036-0.014-0.018-0.025-0.036-0.036-0.053-0.007-0.014-0.018-0.025-0.025-0.039-0.011-0.018-0.021-0.039-0.029-0.057-0.007-0.014-0.014-0.029-0.018-0.043-0.007-0.021-0.014-0.043-0.021-0.061-0.004-0.014-0.011-0.029-0.014-0.043-0.007-0.025-0.011-0.046-0.014-0.071-0.004-0.011-0.004-0.025-0.007-0.036-0.004-0.036-0.007-0.075-0.007-0.111v-6.043c0-0.036 0.004-0.075 0.007-0.111 0.004-0.011 0.004-0.025 0.007-0.036 0.005-0.039 0.015-0.077 0.029-0.114 0.007-0.021 0.014-0.043 0.021-0.061 0.007-0.014 0.014-0.029 0.018-0.043 0.007-0.018 0.018-0.039 0.029-0.057 0.007-0.014 0.014-0.025 0.025-0.039 0.021-0.032 0.043-0.061 0.064-0.089 0.014-0.014 0.029-0.032 0.043-0.046 0.011-0.011 0.021-0.021 0.036-0.032 0.014-0.014 0.032-0.029 0.046-0.039s0.025-0.021 0.039-0.029c0.004-0.004 0.011-0.007 0.014-0.011l9.075-6.039c0.286-0.189 0.661-0.189 0.946 0l9.075 6.039c0.004 0.004 0.011 0.007 0.014 0.011l0.039 0.029 0.050 0.039c0.011 0.011 0.021 0.021 0.036 0.032 0.014 0.014 0.029 0.029 0.043 0.046 0.025 0.029 0.046 0.057 0.064 0.089 0.007 0.014 0.018 0.025 0.025 0.039 0.011 0.018 0.021 0.036 0.029 0.057 0.007 0.014 0.014 0.029 0.018 0.043 0.007 0.021 0.014 0.043 0.021 0.061 0.004 0.014 0.011 0.029 0.014 0.043 0.007 0.025 0.011 0.046 0.014 0.071 0.004 0.011 0.004 0.025 0.007 0.036 0.004 0.036 0.007 0.075 0.007 0.111v6.039zM16.854 19.511v3.975l6.686-4.45-2.986-1.993-3.7 2.468zM7.779 14.593v2.85l2.136-1.425-2.136-1.425zM16 14.004l-3.018 2.014 3.018 2.014 3.018-2.014-3.018-2.014zM23.539 13l-6.686-4.45v3.975l3.7 2.468 2.986-1.993zM11.446 17.043l-2.986 1.993 6.686 4.45v-3.975l-3.7-2.468z"></path>
      </symbol>




      <symbol id="icon-github" viewBox="0 0 32 32">
      <title>github</title>
      <path fill="#1a1b6d" style="fill: var(--color13, #1a1b6d)" opacity="0.5" d="M16 1.103c8.496 0 15.385 7.047 15.385 15.742 0 6.955-4.409 12.856-10.521 14.937-0.769 0.146-1.052-0.341-1.052-0.758 0-0.375 0.014-1.616 0.021-2.931 4.281 0.952 5.184-1.857 5.184-1.857 0.7-1.819 1.708-2.303 1.708-2.303 1.396-0.977-0.106-0.957-0.106-0.957-1.544 0.111-2.358 1.622-2.358 1.622-1.372 2.407-3.599 1.711-4.477 1.309-0.137-1.017-0.537-1.712-0.977-2.105 3.417-0.397 7.010-1.748 7.010-7.779 0-1.719-0.601-3.123-1.586-4.226 0.16-0.396 0.687-1.997-0.149-4.166 0 0-1.292-0.423-4.232 1.614-1.227-0.349-2.543-0.523-3.851-0.53-1.307 0.006-2.624 0.181-3.854 0.53-2.937-2.037-4.226-1.614-4.226-1.614-0.838 2.168-0.311 3.769-0.151 4.166-0.987 1.102-1.584 2.507-1.584 4.226 0 6.046 3.599 7.377 7.025 7.768-0.552 0.489-1.043 1.446-1.043 2.915 0 2.106 0.018 3.802 0.018 4.32 0 0.419-0.277 0.91-1.057 0.756-6.11-2.084-10.512-7.982-10.512-14.935 0-8.694 6.888-15.742 15.385-15.742z"></path>
      </symbol>


      <symbol id="icon-twitter" viewBox="0 0 32 32">
      <title>twitter</title>
      <path d="M32 7.075c-1.175 0.525-2.444 0.875-3.769 1.031 1.356-0.813 2.394-2.1 2.887-3.631-1.269 0.75-2.675 1.3-4.169 1.594-1.2-1.275-2.906-2.069-4.794-2.069-3.625 0-6.563 2.938-6.563 6.563 0 0.512 0.056 1.012 0.169 1.494-5.456-0.275-10.294-2.888-13.531-6.862-0.563 0.969-0.887 2.1-0.887 3.3 0 2.275 1.156 4.287 2.919 5.463-1.075-0.031-2.087-0.331-2.975-0.819 0 0.025 0 0.056 0 0.081 0 3.181 2.263 5.838 5.269 6.437-0.55 0.15-1.131 0.231-1.731 0.231-0.425 0-0.831-0.044-1.237-0.119 0.838 2.606 3.263 4.506 6.131 4.563-2.25 1.762-5.075 2.813-8.156 2.813-0.531 0-1.050-0.031-1.569-0.094 2.913 1.869 6.362 2.95 10.069 2.95 12.075 0 18.681-10.006 18.681-18.681 0-0.287-0.006-0.569-0.019-0.85 1.281-0.919 2.394-2.075 3.275-3.394z"></path>
      </symbol>
      </defs>
      </svg>
    </div>
  </body>
</html>
