<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="google-site-verification" content="1ff4S5gjjQGmzMr0StqlB8bIvafUOAZ0eE678FuRNXA" />
    <link type="text/css" rel="stylesheet" href="./scss/styles.scss" media />
    <link rel="icon" type="image/x-icon" href="/assets/logo/favicon.ico" />
    <script defer src="./js/script.js"></script>
    <script async rel="preload" src="https://www.googletagmanager.com/gtag/js?id=UA-164489805-1"></script>
    <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-164489805-1');
    </script>
 
    <title>Anthony Roux - Developpeur Front-End</title>
    <meta name="description" content="Anthony Roux, Étudiant en web développement front-end. Bienvenue sur mon 1er portfolio. Intégré en HTML, Pug, SCSS, & JavaScript.">
    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Anthony Roux - Developpeur Front-End">
    <meta itemprop="description" content="Anthony Roux, Étudiant en web développement front-end. Bienvenue sur mon 1er portfolio. Intégré en HTML, Pug, SCSS, & JavaScript.">
    <meta itemprop="image" content="https://zupimages.net/up/20/14/eist.png">
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://anthony-roux.netlify.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Anthony Roux - Developpeur Front-End">
    <meta property="og:description" content="Anthony Roux, Étudiant en web développement front-end. Bienvenue sur mon 1er portfolio. Intégré en HTML, Pug, SCSS, & JavaScript.">
    <meta property="og:image" content="https://zupimages.net/up/20/14/eist.png">
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Anthony Roux - Developpeur Front-End">
    <meta name="twitter:description" content="Anthony Roux, Étudiant en web développement front-end. Bienvenue sur mon 1er portfolio. Intégré en HTML, Pug, SCSS, & JavaScript.">
    <meta name="twitter:image" content="https://zupimages.net/up/20/14/eist.png">

  </head>

  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/debug.addIndicators.min.js"></script>
    <script src="https://scrollmagic.io/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
    include includes/loader.pug
    include includes/header.pug
    <main>
      include includes/hero.pug
      include includes/background.pug
      <div class="corpo content-wrapper">
        <section class="projects">
          include includes/vertical-titles.pug  
          include includes/cards-project/project-otaku.pug
          include includes/cards-project/project-socoda.pug
          include includes/cards-project/project-nova.pug
          include includes/cards-project/project-koala.pug
          include includes/cards-project/project-nespresso.pug
          include includes/cards-project/project-ikea.pug
        </section>
      </div>
        include includes/about-me.pug
        include includes/skills.pug
    </main>
    include includes/footer.pug
    <div>
      <svg id="symbol-defs" aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden; display: none;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">>
      <defs>


      <symbol id="icon-aboutMe_blob_phone" viewBox="0 0 32 32">
      <title>textez ou appelez-moi !</title>
      <path fill="#e38939" style="fill: var(--color1, #e38939)" d="M7.9 26.158v-20.317c0-1.397 1.144-2.54 2.542-2.54h10.167c1.398 0 2.542 1.143 2.542 2.54v20.317c0 1.397-1.144 2.54-2.542 2.54h-10.167c-1.398 0-2.542-1.143-2.542-2.54z"></path>
      <path fill="#fff3e0" style="fill: var(--color2, #fff3e0)" d="M20.609 5.206h-10.167c-0.381 0-0.635 0.254-0.635 0.635v18.413c0 0.381 0.254 0.635 0.635 0.635h10.167c0.381 0 0.635-0.254 0.635-0.635v-18.413c0-0.381-0.254-0.635-0.635-0.635z"></path>
      <path fill="#a6642a" style="fill: var(--color3, #a6642a)" d="M15.526 27.746c0.526 0 0.953-0.426 0.953-0.952s-0.427-0.952-0.953-0.952c-0.526 0-0.953 0.426-0.953 0.952s0.427 0.952 0.953 0.952z"></path>
      </symbol>


      <symbol id="icon-aboutMe_blob_cv" viewBox="0 0 32 32">
      <title>attention les yeux !</title>
      <path fill="#dde8e3" style="fill: var(--color4, #dde8e3)" d="M1.228 15.714c0 4.19 1.763 10.286 7.149 10.286s7.149-6.095 7.149-10.286c0-12.952-14.298-12.952-14.298 0z"></path>
      <path fill="#dde8e3" style="fill: var(--color4, #dde8e3)" d="M15.525 15.714c0 4.19 1.763 10.286 7.149 10.286s7.149-6.095 7.149-10.286c0-12.952-14.298-12.952-14.298 0z"></path>
      <path fill="#fff" style="fill: var(--color5, #fff)" d="M1.609 16.048c0 3.619 1.144 9.19 5.719 9.19s5.719-5.619 5.719-9.19c-0.048-12.381-11.438-12.381-11.438 0z"></path>
      <path fill="#fff" style="fill: var(--color5, #fff)" d="M15.906 16.048c0 3.619 1.144 9.19 5.719 9.19s5.719-5.619 5.719-9.19c-0.048-12.381-11.438-12.381-11.438 0z"></path>
      <path fill="#493b30" style="fill: var(--color6, #493b30)" d="M1.609 16.095c0 2.952 2.097 5.238 4.623 5.238 2.574 0 4.623-2.286 4.623-5.238 0-7.238-9.246-7.238-9.246 0z"></path>
      <path fill="#493b30" style="fill: var(--color6, #493b30)" d="M15.906 16.095c0 2.952 2.097 5.238 4.623 5.238 2.574 0 4.623-2.286 4.623-5.238 0-7.238-9.246-7.238-9.246 0z"></path>
      </symbol>

      <symbol id="icon-aboutMe_blob_mail" viewBox="0 0 32 32">
      <title>envoyez-moi un mail</title>
      <path fill="#d35400" style="fill: var(--color7, #d35400)" d="M29.561 12.644h-28.064c-0.337 0-0.61 0.273-0.61 0.611v17.372c0 0.338 0.273 0.611 0.61 0.611h28.064c0.080-0 0.16-0.016 0.234-0.047s0.141-0.076 0.198-0.133c0.057-0.057 0.102-0.124 0.132-0.198s0.046-0.153 0.046-0.234v-17.372c0-0.080-0.016-0.16-0.046-0.234s-0.076-0.141-0.132-0.198c-0.057-0.057-0.124-0.102-0.198-0.133s-0.153-0.047-0.234-0.047z"></path>
      <path fill="#ecf0f1" style="fill: var(--color8, #ecf0f1)" d="M1.801 5.63v24.992c0 0.34 0.273 0.616 0.61 0.616h26.232c0.081-0 0.16-0.017 0.234-0.048s0.142-0.077 0.198-0.134c0.057-0.057 0.101-0.125 0.132-0.199s0.046-0.154 0.045-0.235v-29.254c0-0.080-0.015-0.16-0.045-0.235s-0.075-0.142-0.132-0.199c-0.057-0.057-0.124-0.103-0.198-0.134s-0.154-0.047-0.234-0.048l-21.96 0.002-4.881 4.875z"></path>
      <path fill="#000" style="fill: var(--color9, #000)" opacity="0.1" d="M12.476 22.704l16.775-10.057 0.001 2.127-13.412 7.93h-3.364z"></path>
      <path fill="#f39c12" style="fill: var(--color10, #f39c12)" d="M0.885 30.626c0 0.338 0.273 0.612 0.61 0.612h28.061c0.337 0 0.61-0.274 0.61-0.612v-17.064l-14.641 8.838-14.641-8.838v17.064z"></path>
      <path fill="#f1c40f" style="fill: var(--color11, #f1c40f)" d="M1.801 5.63l4.881 0.003v-4.871l-4.881 4.868z"></path>
      <path fill="#f1c40f" style="fill: var(--color11, #f1c40f)" d="M0.885 13.563l0.016 16.457 14.625-7.619-14.641-8.838z"></path>
      <path fill="#e57e22" style="fill: var(--color12, #e57e22)" d="M30.168 13.563l-14.641 8.838 14.641 7.619v-16.457z"></path>
      <path fill="#000" style="fill: var(--color9, #000)" opacity="0.3" d="M30.167 30.626v-0.607l-14.641-7.619 14.436 8.68c0.125-0.112 0.205-0.273 0.205-0.454zM0.885 30.626v-0.607l14.641-7.619-14.436 8.68c-0.064-0.057-0.116-0.127-0.151-0.205s-0.054-0.163-0.054-0.249z"></path>
      </symbol>




      <symbol id="icon-scroll-down" viewBox="0 0 32 32">
      <title>scroll-down</title>
      <path fill="#1a1b6d" style="fill: var(--color13, #1a1b6d)" d="M16 3.2c7.056 0 12.8 5.744 12.8 12.8s-5.744 12.8-12.8 12.8c-7.056 0-12.8-5.744-12.8-12.8s5.744-12.8 12.8-12.8zM16 0c-8.832 0-16 7.168-16 16s7.168 16 16 16c8.832 0 16-7.168 16-16s-7.168-16-16-16zM16 20.8l-6.4-6.4h12.8l-6.4 6.4z"></path>
      </symbol>




      <symbol id="icon-linkedin" viewBox="0 0 32 32">
      <title>linkedin</title>
      <path fill="#1a1b6d" style="fill: var(--color13, #1a1b6d)" opacity="0.5" d="M29 0h-26c-1.65 0-3 1.347-3 2.994v25.946c0 1.647 1.35 2.994 3 2.994h26c1.65 0 3-1.347 3-2.994v-25.946c0-1.647-1.35-2.994-3-2.994zM12 25.946h-4v-13.971h4v13.971zM10 9.979c-1.106 0-2-0.892-2-1.996s0.894-1.996 2-1.996c1.106 0 2 0.892 2 1.996s-0.894 1.996-2 1.996zM26 25.946h-4v-7.983c0-1.104-0.894-1.996-2-1.996s-2 0.892-2 1.996v7.983h-4v-13.971h4v2.476c0.825-1.129 2.087-2.476 3.5-2.476 2.488 0 4.5 2.233 4.5 4.99v8.981z"></path>
      </symbol>



      <symbol id="icon-codepen" viewBox="0 0 32 32">
      <title>codepen</title>
      <path fill="#8787b2" style="fill: var(--color14, #8787b2)" d="M15.146 12.525v-3.975l-6.686 4.45 2.986 1.993 3.7-2.468zM24.221 17.443v-2.85l-2.136 1.425 2.136 1.425zM16 0c-8.836 0-16 7.164-16 16s7.164 16 16 16c8.836 0 16-7.164 16-16s-7.164-16-16-16zM25.929 19.036c0 0.039-0.004 0.075-0.007 0.111 0 0.014-0.004 0.025-0.007 0.036-0.005 0.039-0.015 0.077-0.029 0.114-0.007 0.021-0.014 0.043-0.021 0.061-0.007 0.014-0.014 0.029-0.018 0.043-0.011 0.018-0.018 0.039-0.029 0.057-0.007 0.014-0.014 0.025-0.025 0.039-0.011 0.018-0.025 0.036-0.036 0.053-0.011 0.014-0.018 0.025-0.029 0.036-0.014 0.014-0.029 0.032-0.043 0.046-0.011 0.011-0.021 0.021-0.036 0.032-0.014 0.014-0.032 0.029-0.050 0.039-0.014 0.011-0.025 0.021-0.039 0.029-0.004 0.004-0.011 0.007-0.014 0.011l-9.075 6.043c-0.143 0.096-0.307 0.143-0.471 0.143-0.168 0-0.332-0.050-0.475-0.143l-9.075-6.039c-0.004-0.004-0.011-0.007-0.014-0.011l-0.039-0.029c-0.018-0.014-0.032-0.025-0.046-0.039-0.011-0.011-0.021-0.021-0.036-0.032-0.014-0.014-0.029-0.029-0.043-0.046-0.011-0.011-0.020-0.023-0.029-0.036-0.014-0.018-0.025-0.036-0.036-0.053-0.007-0.014-0.018-0.025-0.025-0.039-0.011-0.018-0.021-0.039-0.029-0.057-0.007-0.014-0.014-0.029-0.018-0.043-0.007-0.021-0.014-0.043-0.021-0.061-0.004-0.014-0.011-0.029-0.014-0.043-0.007-0.025-0.011-0.046-0.014-0.071-0.004-0.011-0.004-0.025-0.007-0.036-0.004-0.036-0.007-0.075-0.007-0.111v-6.043c0-0.036 0.004-0.075 0.007-0.111 0.004-0.011 0.004-0.025 0.007-0.036 0.005-0.039 0.015-0.077 0.029-0.114 0.007-0.021 0.014-0.043 0.021-0.061 0.007-0.014 0.014-0.029 0.018-0.043 0.007-0.018 0.018-0.039 0.029-0.057 0.007-0.014 0.014-0.025 0.025-0.039 0.021-0.032 0.043-0.061 0.064-0.089 0.014-0.014 0.029-0.032 0.043-0.046 0.011-0.011 0.021-0.021 0.036-0.032 0.014-0.014 0.032-0.029 0.046-0.039s0.025-0.021 0.039-0.029c0.004-0.004 0.011-0.007 0.014-0.011l9.075-6.039c0.286-0.189 0.661-0.189 0.946 0l9.075 6.039c0.004 0.004 0.011 0.007 0.014 0.011l0.039 0.029 0.050 0.039c0.011 0.011 0.021 0.021 0.036 0.032 0.014 0.014 0.029 0.029 0.043 0.046 0.025 0.029 0.046 0.057 0.064 0.089 0.007 0.014 0.018 0.025 0.025 0.039 0.011 0.018 0.021 0.036 0.029 0.057 0.007 0.014 0.014 0.029 0.018 0.043 0.007 0.021 0.014 0.043 0.021 0.061 0.004 0.014 0.011 0.029 0.014 0.043 0.007 0.025 0.011 0.046 0.014 0.071 0.004 0.011 0.004 0.025 0.007 0.036 0.004 0.036 0.007 0.075 0.007 0.111v6.039zM16.854 19.511v3.975l6.686-4.45-2.986-1.993-3.7 2.468zM7.779 14.593v2.85l2.136-1.425-2.136-1.425zM16 14.004l-3.018 2.014 3.018 2.014 3.018-2.014-3.018-2.014zM23.539 13l-6.686-4.45v3.975l3.7 2.468 2.986-1.993zM11.446 17.043l-2.986 1.993 6.686 4.45v-3.975l-3.7-2.468z"></path>
      </symbol>




      <symbol id="icon-github" viewBox="0 0 32 32">
      <title>github</title>
      <path fill="#1a1b6d" style="fill: var(--color13, #1a1b6d)" opacity="0.5" d="M16 1.103c8.496 0 15.385 7.047 15.385 15.742 0 6.955-4.409 12.856-10.521 14.937-0.769 0.146-1.052-0.341-1.052-0.758 0-0.375 0.014-1.616 0.021-2.931 4.281 0.952 5.184-1.857 5.184-1.857 0.7-1.819 1.708-2.303 1.708-2.303 1.396-0.977-0.106-0.957-0.106-0.957-1.544 0.111-2.358 1.622-2.358 1.622-1.372 2.407-3.599 1.711-4.477 1.309-0.137-1.017-0.537-1.712-0.977-2.105 3.417-0.397 7.010-1.748 7.010-7.779 0-1.719-0.601-3.123-1.586-4.226 0.16-0.396 0.687-1.997-0.149-4.166 0 0-1.292-0.423-4.232 1.614-1.227-0.349-2.543-0.523-3.851-0.53-1.307 0.006-2.624 0.181-3.854 0.53-2.937-2.037-4.226-1.614-4.226-1.614-0.838 2.168-0.311 3.769-0.151 4.166-0.987 1.102-1.584 2.507-1.584 4.226 0 6.046 3.599 7.377 7.025 7.768-0.552 0.489-1.043 1.446-1.043 2.915 0 2.106 0.018 3.802 0.018 4.32 0 0.419-0.277 0.91-1.057 0.756-6.11-2.084-10.512-7.982-10.512-14.935 0-8.694 6.888-15.742 15.385-15.742z"></path>
      </symbol>


      <symbol id="icon-twitter" viewBox="0 0 32 32">
      <title>twitter</title>
      <path d="M32 7.075c-1.175 0.525-2.444 0.875-3.769 1.031 1.356-0.813 2.394-2.1 2.887-3.631-1.269 0.75-2.675 1.3-4.169 1.594-1.2-1.275-2.906-2.069-4.794-2.069-3.625 0-6.563 2.938-6.563 6.563 0 0.512 0.056 1.012 0.169 1.494-5.456-0.275-10.294-2.888-13.531-6.862-0.563 0.969-0.887 2.1-0.887 3.3 0 2.275 1.156 4.287 2.919 5.463-1.075-0.031-2.087-0.331-2.975-0.819 0 0.025 0 0.056 0 0.081 0 3.181 2.263 5.838 5.269 6.437-0.55 0.15-1.131 0.231-1.731 0.231-0.425 0-0.831-0.044-1.237-0.119 0.838 2.606 3.263 4.506 6.131 4.563-2.25 1.762-5.075 2.813-8.156 2.813-0.531 0-1.050-0.031-1.569-0.094 2.913 1.869 6.362 2.95 10.069 2.95 12.075 0 18.681-10.006 18.681-18.681 0-0.287-0.006-0.569-0.019-0.85 1.281-0.919 2.394-2.075 3.275-3.394z"></path>
      </symbol>

      <symbol id="icon-skills_marketing" viewBox="0 0 35 32">
      <title>Web Marketing</title>

      <path fill="#00b7d4" d="M28.716 0l-2.010 4-4.371 1.818 4.371 1.833 2.010 3.985 1.994-3.985 4.387-1.833-4.387-1.818-1.994-4zM12.762 4.364l-3.988 8-8.774 3.636 8.774 3.636 3.988 8 3.988-8 8.774-3.636-8.774-3.636-3.988-8zM28.716 20.364l-2.010 3.985-4.371 1.833 4.371 1.818 2.010 4 1.994-4 4.387-1.818-4.387-1.833z"></path>
      </symbol>

      <symbol id="icon-skills_design" viewBox="0 0 35 32">
      <title>Design</title>

      <path fill="#00b7d4" d="M33.87 27.605c-1.095 0.383-3.258 1.175-5.745-3.069-2.487-4.24-5.775-3.255-5.775-3.255-0.184 0.032-0.341 0.094-0.504 0.15-3.711-5.332-14.149-16.944-15.068-17.873-1.32-1.329-3.536-2.577-5.389-0.618-1.743 1.842-0.849 4.246 0.47 5.577 0.928 0.936 12.503 11.518 17.786 15.249-0.087 0.231-0.141 0.474-0.161 0.72 0 7.791 7.899 7.379 9.533 7.078 2.913-0.532 5.949-4.338 4.853-3.96v0z"></path>
      <path fill="#00b7d4" d="M12.22 22.665l-0.481 1.607 1.030 1.039-8.073 3.539-1.589-1.536 3.646-7.751-0.038 1.509 2.114-0.030 1.807-1.806c-1.123-0.962-2.241-1.936-3.309-2.879l-1.767 1.784c0 0-4.898 11.369-5.23 12.288-0.265 0.727 0.648 1.648 1.28 1.336 1.017-0.506 12.16-5.385 12.16-5.385l2.474-2.505c-0.973-0.765-1.934-1.544-2.883-2.338l-1.14 1.128z"></path>
      <path fill="#00b7d4" d="M26.061 3.838l2.667 2.641-8.961 8.777c0.801 0.983 1.555 1.928 2.226 2.802l9.026-9.136c1.063-1.073 1.123-2.62-0.017-3.767l-4.247-4.253c-1.142-1.148-2.93-1.207-3.991-0.137l-8.222 8.309c0.945 1.090 1.926 2.233 2.889 3.378l8.628-8.614z"></path>
      </symbol>

      <symbol id="icon-skills_dev" viewBox="0 0 29 32">
      <title>Dev</title>
      <path fill="#00b7d4" d="M23.877 4h-19.101c-1.317 0-2.388 1.196-2.388 2.667v18.667c0 1.471 1.071 2.667 2.388 2.667h19.101c1.317 0 2.388-1.196 2.388-2.667v-18.667c0-1.471-1.071-2.667-2.388-2.667zM4.775 25.333v-16h19.101l0.002 16h-19.104z"></path>
      <path fill="#00b7d4" d="M11.094 12.391l-4.426 4.943 4.426 4.943 1.688-1.885-2.737-3.057 2.737-3.057-1.688-1.885zM17.558 12.391l-1.688 1.885 2.738 3.057-2.738 3.057 1.688 1.885 4.426-4.943-4.426-4.943z"></path>
      </symbol>

      <symbol id="icon-footer__logo" viewBox="0 0 42 32">
      <title>logo</title>
      <path fill="#fff" style="fill: var(--color1, #fff)" d="M17.103 4.841c-1.102 0-1.85 0-2.946 0-1.134 0-2.201 0.215-3.202 0.646-0.991 0.431-1.858 1.019-2.601 1.766-0.734 0.747-1.315 1.622-1.744 2.627-0.429 0.995-0.643 2.063-0.643 3.202v10.304c0 1.129 0.915 2.044 2.044 2.044s2.044-0.923 2.044-2.052c0-1.138 0.922-2.069 2.060-2.069h4.083c1.138 0 2.060 0.922 2.060 2.060s0.922 2.060 2.060 2.060h1.196c1.141 0 2.067-0.925 2.067-2.067 0-1.136 0.917-2.060 2.054-2.067l0.699-0.004c1.113-0.007 2.121 0.652 2.561 1.674l0.537 1.247c0.318 0.738 1.045 1.217 1.849 1.217 1.44 0 2.415-1.469 1.855-2.796l-0.283-0.671c-0.467-1.106-0.030-2.363 0.792-3.238 0.476-0.507 0.877-1.062 1.201-1.665 0.334-0.603 0.586-1.24 0.758-1.91 0.181-0.67 0.272-1.359 0.272-2.067 0-0.756-0.1-1.484-0.3-2.182-0.191-0.699-0.467-1.354-0.829-1.967-0.353-0.613-0.781-1.168-1.286-1.665-0.495-0.507-1.048-0.938-1.658-1.292-0.6-0.364-1.248-0.641-1.944-0.833-0.696-0.201-1.42-0.301-2.173-0.301h-8.204c-0.324 0-0.507 0-0.611 0-0.583 0-1.183 0-1.766 0zM17.244 2.595h10.44c0.949 0 1.877 0.126 2.777 0.385 0.876 0.242 1.704 0.595 2.476 1.061 0.772 0.451 1.474 0.998 2.102 1.638 0.639 0.632 1.185 1.34 1.635 2.118 0.46 0.781 0.811 1.615 1.053 2.495 0.258 0.904 0.383 1.837 0.383 2.789 0 0.898-0.114 1.78-0.346 2.641-0.218 0.845-0.537 1.651-0.958 2.414-0.417 0.774-0.931 1.484-1.535 2.128-0.288 0.307-0.388 0.753-0.224 1.141l0.652 1.545c0.946 2.242-0.7 4.724-3.134 4.724h-1.832c-1.363 0-2.595-0.811-3.134-2.063l-0.754-1.751c-0.085-0.198-0.28-0.325-0.495-0.324-0.294 0.002-0.532 0.241-0.532 0.535v1.529c0 1.145-0.929 2.074-2.074 2.074h-5.661c-1.138 0-2.060-0.922-2.060-2.060v-0.194c0-1.031-0.835-1.866-1.866-1.866s-1.866 0.835-1.866 1.866v0.194c0 1.138-0.922 2.060-2.060 2.060h-2.22c-2.364 0-4.28-1.916-4.28-4.28v-10.314c0-1.429 0.27-2.8 0.825-4.090 0.534-1.251 1.269-2.363 2.206-3.317l0.005-0.005 0.005-0.005c0.948-0.952 2.052-1.699 3.294-2.239l0.004-0.002 0.004-0.002c1.29-0.556 2.659-0.828 4.082-0.828 1.064 0 2.030 0 3.087 0zM12.556 9.292c0.505-0.22 1.039-0.33 1.601-0.33s1.091 0.11 1.587 0.33c0.505 0.211 0.943 0.502 1.315 0.876 0.064 0.065 0.126 0.131 0.186 0.2 0.284 0.328 0.513 0.702 0.686 1.121 0.219 0.498 0.329 1.029 0.329 1.594 0 2.265-1.837 4.121-4.102 4.121s-4.102-1.855-4.102-4.121c0-0.565 0.105-1.096 0.314-1.594 0.219-0.507 0.515-0.948 0.886-1.321s0.805-0.665 1.301-0.876zM14.157 14.956c1.031 0 1.866-0.844 1.866-1.874 0-0.264-0.049-0.484-0.138-0.685l-0.010-0.024-0.010-0.024c-0.102-0.247-0.232-0.437-0.388-0.594s-0.346-0.287-0.591-0.39l-0.024-0.010-0.024-0.010c-0.2-0.089-0.419-0.138-0.682-0.138s-0.493 0.050-0.711 0.145l-0.009 0.004-0.009 0.004c-0.237 0.101-0.428 0.232-0.591 0.395-0.161 0.162-0.3 0.361-0.412 0.617-0.085 0.206-0.134 0.436-0.134 0.709 0 1.031 0.835 1.874 1.866 1.874zM27.685 17.203c-2.265 0-4.102-1.855-4.102-4.121s1.837-4.121 4.102-4.121c0.562 0 1.091 0.11 1.587 0.33 0.495 0.211 0.929 0.502 1.301 0.876s0.662 0.814 0.872 1.321c0.219 0.498 0.329 1.029 0.329 1.594s-0.11 1.101-0.329 1.608c-0.21 0.498-0.5 0.933-0.872 1.307s-0.805 0.67-1.301 0.89c-0.495 0.211-1.024 0.316-1.587 0.316zM25.819 13.082c0 1.031 0.835 1.874 1.866 1.874 0.27 0 0.496-0.048 0.699-0.132 0.243-0.11 0.44-0.249 0.607-0.417 0.163-0.164 0.294-0.356 0.394-0.593l0.004-0.009 0.004-0.009c0.095-0.219 0.144-0.45 0.144-0.714s-0.049-0.484-0.138-0.685l-0.010-0.024-0.010-0.024c-0.102-0.247-0.232-0.437-0.388-0.594-0.163-0.164-0.354-0.295-0.591-0.395l-0.017-0.007-0.017-0.007c-0.2-0.089-0.419-0.138-0.682-0.138-1.031 0-1.866 0.844-1.866 1.874z"></path>
      </symbol>

      <symbol id="footer__wave--lagoon" viewBox="0 0 197 32">
      <title>wave lagoon</title>
      <path fill="#00b7d4" style="fill: var(--color2, #00b7d4)" d="M0 0l6.068 0.662c6.068 0.713 18.17 1.962 30.378 6 12.084 3.962 24.238 10.712 36.269 9.337 12.208-1.375 24.415-10.625 36.446-12.662 12.155-1.962 24.239 3.287 36.446 8.662 12.102 5.375 24.239 10.625 36.446 12 12.049 1.375 24.239-1.375 36.27-6 12.19-4.625 24.238-11.375 30.431-14.662l6.015-3.337v32h-6.068c-6.069 0-18.17 0-30.378 0-12.084 0-24.239 0-36.27 0-12.207 0-24.415 0-36.446 0-12.154 0-24.238 0-36.446 0-12.102 0-24.238 0-36.446 0-12.048 0-24.238 0-36.269 0-12.19 0-24.238 0-30.431 0h-6.015v-32z"></path>
      </symbol>

      <symbol id="footer__wave--darkBlue" viewBox="0 0 244 32">
        <title>wave darkblue</title>
      <path fill="#161569" style="fill: var(--color3, #161569)" d="M0 0l7.513 0.662c7.513 0.713 22.496 1.962 37.61 6 14.961 3.963 30.010 10.713 44.904 9.338 15.115-1.375 30.229-10.625 45.124-12.662 15.049-1.962 30.010 3.287 45.124 8.662 14.983 5.375 30.010 10.625 45.124 12 14.917 1.375 30.010-1.375 44.905-6 15.093-4.625 30.009-11.375 37.676-14.662l7.448-3.337v32h-7.513c-7.514 0-22.497 0-37.611 0-14.961 0-30.010 0-44.905 0-15.114 0-30.229 0-45.124 0-15.048 0-30.009 0-45.124 0-14.983 0-30.009 0-45.124 0-14.917 0-30.009 0-44.904 0-15.092 0-30.010 0-37.676 0h-7.448v-32z"></path>
      </symbol>

      <symbol id="icon-footer_scroll-up" viewBox="0 0 34 32">
        <title>scrool-up</title>
      <path fill="#f6fcfc" style="fill: var(--color4, #f6fcfc)" d="M16.693 28.8c-7.362 0-13.355-5.744-13.355-12.8s5.993-12.8 13.355-12.8c7.362 0 13.355 5.744 13.355 12.8s-5.993 12.8-13.355 12.8zM16.693 32c9.215 0 16.694-7.168 16.694-16s-7.479-16-16.694-16c-9.215 0-16.694 7.168-16.694 16s7.479 16 16.694 16zM16.693 11.2l6.678 6.4h-13.355l6.678-6.4z"></path>
      </symbol>
      </defs>
      </svg>
    </div>
  </body>
</html>
