<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="google-site-verification" content="1ff4S5gjjQGmzMr0StqlB8bIvafUOAZ0eE678FuRNXA" />
  <link type="text/css" rel="stylesheet" href="./scss/styles.scss" />
  <link rel="icon" type="image/x-icon" href="/assets/logo/favicon.ico" />

  <script defer src="./js/script.js"></script>
  <title>Anthony Roux - Developpeur Front-End</title>
  <meta name="description" content="Anthony Roux, Étudiant en web développement front-end. Bienvenue sur mon 1er portfolio. Intégré en HTML, Pug, SCSS, & JavaScript.">
  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="Anthony Roux - Developpeur Front-End">
  <meta itemprop="description" content="Anthony Roux, Étudiant en web développement front-end. Bienvenue sur mon 1er portfolio. Intégré en HTML, Pug, SCSS, & JavaScript.">
  <meta itemprop="image" content="https://zupimages.net/up/20/14/eist.png">
  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://anthony-roux.netlify.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Anthony Roux - Developpeur Front-End">
  <meta property="og:description" content="Anthony Roux, Étudiant en web développement front-end. Bienvenue sur mon 1er portfolio. Intégré en HTML, Pug, SCSS, & JavaScript.">
  <meta property="og:image" content="https://zupimages.net/up/20/14/eist.png">
  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Anthony Roux - Developpeur Front-End">
  <meta name="twitter:description" content="Anthony Roux, Étudiant en web développement front-end. Bienvenue sur mon 1er portfolio. Intégré en HTML, Pug, SCSS, & JavaScript.">
  <meta name="twitter:image" content="https://zupimages.net/up/20/14/eist.png">
</head>

<body class="body_nova">
  include includes/header.pug
  <main class="main__nova">
    <section class="projectNova content-wrapper-adapt">
      <div class="projectNova__textualCard">
        <div class="projectNova__cadre">
          <h2 class="projectNova__title">Nova Pellicia</h2>
          <p class="projectNova__paragraph hidden-p">L’objectif majeur était de coupler nos notions en <strong>design UI & UX</strong> avec nos compétences d’intégrateurs développées depuis le début de l’année.
          </p>
          <p class="projectNova__paragraph">Nous avions 10 jours pour concevoir un vêtement ou un accessoire à la fois éco-responsable et personnalisables.</p>
          <p class="projectNova__paragraph hidden-p">Pour cela, nous avons réalisé des personas, et un benchmark de la concurrence.
          </p> 
          <p class="projectNova__paragraph hidden-p">Après des recherches et un brain storming efficace, l’idée de présenter des portes-feuilles de luxe, réaliser en cuir de vin nous est alors venue. <br>C’est là, que Nova Pellicia est née.
          </p>
          <p class="projectNova__paragraph">Ma polyvalence m’a donné l’opportunité de penser et aider à la réalisation des maquettes. Mais ce sont surtout mes compétences en intégration que j’ai pu mettre à l’épreuve.</p> 
          <p>De simples technos comme le <strong>SCSS</strong> couplés à du <strong>Javascript</strong> natif nous aurons permis de mener à bien notre mission.
          </p>
          <div class="projectNova__button button">
            <a href="">
              <div class="btn anim-top">
                <span>découvrir</span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="projectNova__images">
        <img class="iMac" src="/assets/img/page_project-nova-iMac.png" alt="Mockup du Site sur iMac">
        <img class="iPhone" src="/assets/img/page_project-nova-iPhone.png" alt="Mockup du site sur iPhone">
      </div>
    </section>
  </main>
</body>
</html>