<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="google-site-verification" content="1ff4S5gjjQGmzMr0StqlB8bIvafUOAZ0eE678FuRNXA" />
  <link type="text/css" rel="stylesheet" href="./scss/styles.scss" />
  <link rel="icon" type="image/x-icon" href="/assets/logo/favicon.ico" />

  <script defer src="./js/script.js"></script>
  <title>Projet 4 - Nova Pellicia</title>
  <meta name="description" content="Anthony Roux, Étudiant en web développement front-end. Bienvenue sur mon 1er portfolio. Intégré en HTML, Pug, SCSS, & JavaScript.">
  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="Anthony Roux - Developpeur Front-End">
  <meta itemprop="description" content="Anthony Roux, Étudiant en web développement front-end. Bienvenue sur mon 1er portfolio. Intégré en HTML, Pug, SCSS, & JavaScript.">
  <meta itemprop="image" content="https://zupimages.net/up/20/14/eist.png">
  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://anthony-roux.netlify.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Anthony Roux - Developpeur Front-End">
  <meta property="og:description" content="Anthony Roux, Étudiant en web développement front-end. Bienvenue sur mon 1er portfolio. Intégré en HTML, Pug, SCSS, & JavaScript.">
  <meta property="og:image" content="https://zupimages.net/up/20/14/eist.png">
  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Anthony Roux - Developpeur Front-End">
  <meta name="twitter:description" content="Anthony Roux, Étudiant en web développement front-end. Bienvenue sur mon 1er portfolio. Intégré en HTML, Pug, SCSS, & JavaScript.">
  <meta name="twitter:image" content="https://zupimages.net/up/20/14/eist.png">
</head>

<body class="project__body body__nova">
  include includes/header.pug
  <main class="project__main main__nova">
    <div class="project__navigation">
      <a class="project__btnLink" href="/page_project-socoda.pug">
        <button class="project__button">
          <p>&#12296;&nbspback</p>
        </button>
      </a>
      <a class="project__btnLink" href="/page_project-koala.pug">
        <button class="project__button project__button--right">
          <p>next&nbsp&#12297;</p>
        </button>
      </a>
    </div>
    <section class=" projectSection projectNova content-wrapper-adapt">
      <div class="projectSection__textualCard projectNova__textualCard">
        <div class="projectSection__cadre projectNova__cadre">
          <h2 class="projectSection__title projectNova__title">Nova Pellicia</h2>
          <p class="projectSection__paragraph projectNova__paragraph hidden-p">L’objectif majeur était de coupler nos notions en <strong>design UI & UX</strong> avec nos compétences d’intégrateurs développées depuis le début de l’année.
          </p>
          <p class="projectSection__paragraph projectNova__paragraph">Nous avions 10 jours pour concevoir un vêtement ou un accessoire à la fois éco-responsable et personnalisables.</p>
          <p class="projectSection__paragraph projectNova__paragraph hidden-p">Pour cela, nous avons réalisé des personas, et un benchmark de la concurrence.
          </p> 
          <p class="projectSection__paragraph projectNova__paragraph hidden-p">Après des recherches et un brain storming efficace, l’idée de présenter des portes-feuilles de luxe, réaliser en cuir de vin nous est alors venue. <br>C’est là, que Nova Pellicia est née.
          </p>
          <p class="projectSection__paragraph projectNova__paragraph">Ma polyvalence m’a donné l’opportunité de penser et aider à la réalisation des maquettes. Mais ce sont surtout mes compétences en intégration que j’ai pu mettre à l’épreuve.</p> 
          <p class="projectSection__paragraph projectNova__paragraph">De simples technos comme le <strong>SCSS</strong> couplés à du <strong>Javascript</strong> natif nous aurons permis de mener à bien notre mission.
          </p>
          <div class="projectSection__button projectNova__button button">
            <a href="https://nova-pellicia.netlify.app/" id="decouvrir">
              <div class="btn anim-top">
                <span>découvrir</span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="hero__scrollDown project__scrollDown">
        <a href="#decouvrir">
          <svg viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 3C21.615 3 27 8.385 27 15C27 21.615 21.615 27 15 27C8.385 27 3 21.615 3 15C3 8.385 8.385 3 15 3ZM15 0C6.72 0 0 6.72 0 15C0 23.28 6.72 30 15 30C23.28 30 30 23.28 30 15C30 6.72 23.28 0 15 0ZM15 19.5L9 13.5H21L15 19.5Z" fill="#1A1B6D"/>
          </svg>
        </a>
      </div> 
      <div class="projectSection__images projectNova__images">
        <img class="iMac" src="/assets/img/page_project-nova-iMac.png" alt="Mockup du Site sur iMac">
        <img class="iPhone" src="/assets/img/page_project-nova-iPhone.png" alt="Mockup du site sur iPhone">
      </div>
    </section>
  </main>
</body>
</html>