<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="google-site-verification" content="1ff4S5gjjQGmzMr0StqlB8bIvafUOAZ0eE678FuRNXA" />
  <link type="text/css" rel="stylesheet" href="./scss/styles.scss" />
  <link rel="icon" type="image/x-icon" href="/assets/logo/favicon.ico" />

  <script defer src="./js/script.js"></script>
  <title>Projet 3 - Koala's Rescue</title>
  <meta name="description" content="Anthony Roux, Étudiant en web développement front-end. Bienvenue sur mon 1er portfolio. Intégré en HTML, Pug, SCSS, & JavaScript.">
  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="Anthony Roux - Developpeur Front-End"><meta itemprop="description" content="Anthony Roux, Étudiant en web développement front-end. Bienvenue sur mon 1er portfolio. Intégré en HTML, Pug, SCSS, & JavaScript.">
  <meta itemprop="image" content="https://zupimages.net/up/20/14/eist.png">
  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://anthony-roux.netlify.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Anthony Roux - Developpeur Front-End"> <meta property="og:description" content="Anthony Roux, Étudiant en web développement front-end. Bienvenue sur mon 1er portfolio. Intégré en HTML, Pug, SCSS, & JavaScript.">
  <meta property="og:image" content="https://zupimages.net/up/20/14/eist.png">
  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Anthony Roux - Developpeur Front-End"><meta name="twitter:description" content="Anthony Roux, Étudiant en web développement front-end. Bienvenue sur mon 1er portfolio. Intégré en HTML, Pug, SCSS, & JavaScript.">
  <meta name="twitter:image" content="https://zupimages.net/up/20/14/eist.png">
</head>

<body class="project__body body__koala">
  include includes/header.pug
  <main class="project__main main__koala">
    <div class="project__navigation">
      <a class="project__btnLink" href="/page_project-nova.pug">
        <button class="project__button">
          <p>&#12296;&nbspback</p>
        </button>
      </a>
      <a class="project__btnLink" href="/page_project-nespresso.pug">
        <button class="project__button project__button--right">
          <p>next&nbsp&#12297;</p>
        </button>
      </a>
    </div>
    <section class=" projectSection projectKoala content-wrapper-adapt">
      <div class="projectSection__textualCard projectKoala__textualCard">
        <div class="projectSection__cadre projectKoala__cadre">
          <h2 class="projectSection__title projectKoala__title">Koala's Rescue</h2>
          <p class="projectSection__paragraph projectKoala__paragraph hidden-p">Avec l’aide de la librairie OXO, l’objectif était de pouvoir mettre en pratique nos notions de <strong>JavaScript</strong> acquises durant les 3 mois précédent.
          </p>
          <p class="projectSection__paragraph projectKoala__paragraph">Nous avions donc 4 jours pour imaginer et concevoir ce jeu qui nous semblait infaisable.
          </p>
          <p class="projectSection__paragraph projectKoala__paragraph hidden-p">Pour cela, nous avons d’abord imaginé un thème :
          </p>
          <p class="projectSection__paragraph projectKoala__paragraph hidden-p">Étant donné que la situation apocalyptique Australienne était le sujet n°1, nous sommes parti sur un sauvetage de Koalas.
          </p>
          <p class="projectSection__paragraph projectKoala__paragraph">Premièrement, conception du jeu sous forme de maquette avec Figma. Puis en second temps, l’intégration du jeu.
          </p>
          <p class="projectSection__paragraph projectKoala__paragraph">Malheureusement trop ambitieux, et inexpérimenté, le jeu n’a pas pu être terminé, et n’est donc pas vraiment fonctionnel.</p> 
          <p class="projectSection__paragraph projectKoala__paragraph">Cela ne m’a pas empêché de mettre mes compétences encore très frêles à l’œuvre. J’ai pu intégrer les différentes pages du jeu, et créer des composants dynamiquement en JavaScript.
          </p>
          <div class="projectSection__button projectKoala__button button">
            <a href="https://koala-rescue.netlify.app/?fbclid=IwAR3bQwLWFhKeNq6ZbG8gBDm4QS0gvL3N5xYR3ICRj0Pkpb7IYAKmmky2mmw#" target="_blank" rel="noopener" id="decouvrir">
              <div class="btn anim-top">
                <span>découvrir</span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="hero__scrollDown project__scrollDown">
        <a href="#decouvrir">
          <svg viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 3C21.615 3 27 8.385 27 15C27 21.615 21.615 27 15 27C8.385 27 3 21.615 3 15C3 8.385 8.385 3 15 3ZM15 0C6.72 0 0 6.72 0 15C0 23.28 6.72 30 15 30C23.28 30 30 23.28 30 15C30 6.72 23.28 0 15 0ZM15 19.5L9 13.5H21L15 19.5Z" fill="#1A1B6D" />
          </svg>
        </a>
      </div>
      <div class="projectSection__images projectKoala__images">
        <img class="iMac" src="/assets/img/page_projet-koala-imac.png" alt="Mockup du Site sur iMac">
        <img class="macbook" src="/assets/img/page_projet-koala-macbook.png" alt="Mockup du site sur macbook">
      </div>
    </section>
  </main>
</body>

</html>