<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="google-site-verification" content="1ff4S5gjjQGmzMr0StqlB8bIvafUOAZ0eE678FuRNXA" />
  <link type="text/css" rel="stylesheet preload" href="./scss/styles.scss" />
  <link rel="icon preload" type="image/x-icon" href="/assets/logo/favicon.ico" />

  <script rel="preload" defer src="./js/script.js"></script>
  <title>Projet 5 - Socoda Dashboard</title>
  <meta name="description" content="Anthony Roux, Étudiant en web développement front-end. Bienvenue sur mon 1er portfolio. Intégré en HTML, Pug, SCSS, & JavaScript.">
  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="Anthony Roux - Developpeur Front-End"><meta itemprop="description" content="Anthony Roux, Étudiant en web développement front-end. Bienvenue sur mon 1er portfolio. Intégré en HTML, Pug, SCSS, & JavaScript.">
  <meta itemprop="image" content="https://zupimages.net/up/20/14/eist.png">
  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://anthony-roux.netlify.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Anthony Roux - Developpeur Front-End"> <meta property="og:description" content="Anthony Roux, Étudiant en web développement front-end. Bienvenue sur mon 1er portfolio. Intégré en HTML, Pug, SCSS, & JavaScript.">
  <meta property="og:image" content="https://zupimages.net/up/20/14/eist.png">
  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Anthony Roux - Developpeur Front-End"><meta name="twitter:description" content="Anthony Roux, Étudiant en web développement front-end. Bienvenue sur mon 1er portfolio. Intégré en HTML, Pug, SCSS, & JavaScript.">
  <meta name="twitter:image" content="https://zupimages.net/up/20/14/eist.png">
</head>

<body class="project__body body__socoda">
  <script rel="preload" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
  <script rel="preload" src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"></script>
  <script rel="preload" src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/debug.addIndicators.min.js"></script>
  <script rel="preload" src="https://scrollmagic.io/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
  include includes/header.pug
  <main class="project__main main__socoda">
    <div class="project__navigation">
      <a class="project__btnLink" href="/page_project-otaku.pug">
        <button class="project__button">
          <p>&#12296;&nbspback</p>
        </button>
      <a class="project__btnLink" href="/page_project-nova.pug">
        <button class="project__button project__button--right">
          <p>next&nbsp&#12297;</p>
        </button>
      </a>
    </div>
    <section class=" projectSection projectSocoda content-wrapper-adapt">
      <div class="projectSection__textualCard projectSocoda__textualCard">
        <div class="projectSection__cadre projectSocoda__cadre">
          <h2 class="projectSection__title projectSocoda__title tween_text_pageProjet">Socoda</h2>
          <p class="projectSection__paragraph projectSocoda__paragraph tween_text_pageProjet">Durant ce projet <strong>UX & UI</strong>, nous devions nous mettre dans la peau d’une entreprise appelée Socoda, celle-ci devant concevoir et présenter une plateforme de gestion, et de commande pour les professionnels de la restauration. L’idée était alors de proposer un outil simple, multifonction et complet, ce qui nous emmène à la création d’un Dashboard. Cet outil devant être adapté à la fois aux restaurateurs, mais aussi aux fournisseurs.
          </p>
          <p class="projectSection__paragraph projectSocoda__paragraph tween_text_pageProjet">Pour atteindre les objectifs, nous avons d’abord dû passer par deux étapes : la création de <strong>Users Stories</strong>, et la réalisation d’un <strong>parcours utilisateur</strong>.

          </p>
          <p class="projectSection__paragraph projectSocoda__paragraph tween_text_pageProjet">En second temps, un <strong>Benchmark</strong> de la concurrence, la réalisation d’un <strong>Design System</strong> en utilisant les notions d’<strong>Atomic Design</strong>. Wireframes, puis la réalisation de maquettes prototypées de la connexion du professionnel à la validation de commande. 

          </p>
          <p class="projectSection__paragraph projectSocoda__paragraph tween_text_pageProjet">Au cours de ce projet sans intégration, j’ai donc pu apprendre à maîtriser davantage l’outil <strong>Figma</strong>, et aiguiser mon sens de l’UX.
          </p>
          <div class="projectSection__button projectSocoda__button button">
            <a href="https://www.figma.com/file/hPHkr6gVl9nCRbw3yUybpr/Socoda-groupe2?node-id=25%3A3" target="_blank" rel="noopener" id="decouvrir">
              <div class="btn anim-top">
                <span>découvrir</span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="hero__scrollDown project__scrollDown">
        <a href="#decouvrir">
          <svg viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 3C21.615 3 27 8.385 27 15C27 21.615 21.615 27 15 27C8.385 27 3 21.615 3 15C3 8.385 8.385 3 15 3ZM15 0C6.72 0 0 6.72 0 15C0 23.28 6.72 30 15 30C23.28 30 30 23.28 30 15C30 6.72 23.28 0 15 0ZM15 19.5L9 13.5H21L15 19.5Z" fill="#1A1B6D" />
          </svg>
        </a>
      </div>
      <div class="projectSection__images projectSocoda__images">
        <img class="iMac" src="/assets/img/socoda-imac.png" alt="Mockup du Site sur iMac">
        <img class="macbook" src="/assets/img/socoda-macbook.png" alt="Mockup du site sur macbook">
      </div>
    </section>
  </main>
</body>

</html>