<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="google-site-verification" content="1ff4S5gjjQGmzMr0StqlB8bIvafUOAZ0eE678FuRNXA" />
  <link type="text/css" rel="stylesheet" href="./scss/styles.scss" />
  <link rel="icon" type="image/x-icon" href="/assets/logo/favicon.ico" />

  <script defer src="./js/script.js"></script>
  <title>Projet 6 - Otaku Stream</title>
  <meta name="description" content="Anthony Roux, Étudiant en web développement front-end. Bienvenue sur mon 1er portfolio. Intégré en HTML, Pug, SCSS, & JavaScript.">
  <!-- Google / Search Engine Tags -->
  <meta itemprop="name" content="Anthony Roux - Developpeur Front-End"><meta itemprop="description" content="Anthony Roux, Étudiant en web développement front-end. Bienvenue sur mon 1er portfolio. Intégré en HTML, Pug, SCSS, & JavaScript.">
  <meta itemprop="image" content="https://zupimages.net/up/20/14/eist.png">
  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://anthony-roux.netlify.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Anthony Roux - Developpeur Front-End"> <meta property="og:description" content="Anthony Roux, Étudiant en web développement front-end. Bienvenue sur mon 1er portfolio. Intégré en HTML, Pug, SCSS, & JavaScript.">
  <meta property="og:image" content="https://zupimages.net/up/20/14/eist.png">
  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Anthony Roux - Developpeur Front-End"><meta name="twitter:description" content="Anthony Roux, Étudiant en web développement front-end. Bienvenue sur mon 1er portfolio. Intégré en HTML, Pug, SCSS, & JavaScript.">
  <meta name="twitter:image" content="https://zupimages.net/up/20/14/eist.png">
</head>

<body class="project__body body__otaku">
  include includes/header.pug
  <main class="project__main main__otaku">
    <div class="project__navigation">
      <a class="project__btnLink" href="/index.pug#linkHome">
        <button class="project__button">
          <p>&#12296;&nbspback</p>
        </button>
      <a class="project__btnLink" href="/page_project-socoda.pug">
        <button class="project__button project__button--right">
          <p>next&nbsp&#12297;</p>
        </button>
      </a>
    </div>
    <section class=" projectSection projectOtaku content-wrapper-adapt">
      <div class="projectSection__textualCard projectOtaku__textualCard">
        <div class="projectSection__cadre projectOtaku__cadre">
          <h2 class="projectSection__title projectOtaku__title">Otaku Stream</h2>
          <p class="projectSection__paragraph projectOtaku__paragraph">Un des projets les plus intéressants auquel j’ai pu participer.
          <br>Le deuxième réalisé à distance en période de confinement, mais surtout le seul sans aide ou soutien de nos intervenants. 
          </p>
          <p class="projectSection__paragraph projectOtaku__paragraph">Nous avions donc 6 jours pour parvenir à réaliser une plateforme de streaming avec un <strong>vidéo player</strong> fonctionnel.</p>
          <p class="projectSection__paragraph projectOtaku__paragraph">L'univers coloré des animes nous a plu. <br>La plateforme <strong>Otaku Stream</strong> est alors née.
          </p>
          <p class="projectSection__paragraph projectOtaku__paragraph">La partie intégration a été pour moi la plus intéressante. J’ai d’abord créé un starter pack complet pour nous permettre d’être organisé et d’utiliser des bonnes pratiques tout le long du projet.
          </p>
          <p class="projectSection__paragraph projectOtaku__paragraph">J’ai par la suite intégré la home page, et installé la librairie <strong>Tiny-Slider</strong> pour les sliders.
          </p>
          <p class="projectSection__paragraph projectOtaku__paragraph">Projet intégré avec parcel en SCSS, du Javascript pour certains éléments dynamique comme le vidéo player, ou encore les sliders, mais également en PHP, pour la page de connexion et ses profils d'utilisateurs.
          </p>
          <div class="projectSection__button projectOtaku__button button">
            <a href="https://otaku-stream.netlify.app/index.html" id="decouvrir">
              <div class="btn anim-top">
                <span>découvrir</span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="hero__scrollDown project__scrollDown">
        <a href="#decouvrir">
          <svg viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 3C21.615 3 27 8.385 27 15C27 21.615 21.615 27 15 27C8.385 27 3 21.615 3 15C3 8.385 8.385 3 15 3ZM15 0C6.72 0 0 6.72 0 15C0 23.28 6.72 30 15 30C23.28 30 30 23.28 30 15C30 6.72 23.28 0 15 0ZM15 19.5L9 13.5H21L15 19.5Z" fill="#1A1B6D" />
          </svg>
        </a>
      </div>
      <div class="projectSection__images projectOtaku__images">
        <img class="iMac" src="/assets/img/page_project-otaku-imac.png" alt="Mockup du Site sur iMac">
        <img class="macbook" src="/assets/img/page_project-otaku-macbook.png" alt="Mockup du site sur macbook">
      </div>
    </section>
  </main>
</body>

</html>