// mes importations de feuilles de styles.scss

// IMPORTATIONS DU DOSSIER GLOBAL

@import 'global/_reset.scss';
@import 'global/_utilities.scss';
@import 'global/_variables.scss';
@import 'global/_fonts.scss';
@import 'global/_typography.scss';
@import 'global/_icons.scss';
@import 'global/_buttons.scss';

// COMPONENTS
// ici importations des éléments génériques qui se répétent souvent dans le site : calltoactions, cards...
@import 'components/_vertical-titles.scss';


// LAYOUTS
// ici importations des pages correspondants aux éléments du site : menuburger, hero, aside, footer, header, caroussel...
@import 'layouts/_header.scss';
@import 'layouts/_background.scss';
@import 'layouts/_project.scss';
@import 'layouts/_aboutMe.scss';
@import 'layouts/_skills.scss';
@import 'layouts/_footer.scss';

// PAGES 
// ici importations des pages du site : homepage, contact, panier, articles, FAQ...
@import 'pages/_hero.scss';
@import 'pages/_page_project-nova.scss';




.content-wrapper {
  padding: 0 30px;
  margin: 0 auto;
  width: 100%;
  max-width: 1164px;

  @include tablet-up {
    padding: 0 60px;
  }

  @include desktop-up {
    padding: 0;
    max-width: 1104px;
  }
}


.hideBgNavScrolling {
  background-color: transparent;
  background-image: none;
}